<footer>
    <div class="footer-cont">
        <div class="footer-s1">
            <div>
                <ul>
                    <li class="fsfoot-h">Florida Office Address:</li>
                    <li class="sg">Shashi Consultancy Services LLC 1317 Edge water Dr</li>
                    <li class="sg">#5714 Orlando, FL 32804</li>
                    <li class="sg">EIN 36-5045401 </li>
                    <li class="sg">email: info@shashisales.com</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="fsfoot-h">Noida Address:</li>
                    <li class="sg">Shashi Sales And Marketing, Plot 29 Sector 142, </li>
                    <li class="sg">Noida, Uttar Pradesh-201305, IN</li>
                    <li class="sg">Phone: 8744906520</li>
                    <li class="sg">email: info@shashisales.com</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="fsfoot-h">HQ Office Address :</li>
                    <li class="sg">Shashi Sales & Marketing 14/11B/1,Rambagh,</li>
                    <li class="sg">Prayagraj, U.P - 211003, IN</li>
                    <li class="sg">Phone: 8744906520</li>
                    <li class="sg">email: info@shashisales.com</li>
                </ul>
            </div>
        </div>

        <div class="footer-s2">
            <div class="footer-s2-1">
                <div class="links-cont">
                    <ul class="under">
                        <li>Home</li>
                        <li>About Us</li>
                        <li>Web Development</li>
                        <li>Search Engine Optimization</li>
                        <li>Graphic Designing</li>
                        <li>Technical Writing</li>
                        <li>Content Writing</li>
                    </ul>
                </div>
                <div class="links-cont">
                    <ul class="under">
                        <li>Web Designing</li>
                        <li>Video Editing & Making</li>
                        <li>Digital Marketing</li>
                        <li>Branding & Affiliate Marketing</li>
                        <li>Whatsapp Marketing</li>
                        <li>Email Marketing</li>
                        <li>FEA & CAE</li>
                    </ul>
                </div>
                <div class="links-cont">
                    <ul class="under">
                        <li>Business Services</li>
                        <li>Service Desk Solution</li>
                        <li>Network Support Services</li>
                        <li>L1/1.5/Technical Support</li>
                        <li>Call Center Services</li>
                        <li>Database Development & Mgmt</li>
                        <li>Mail Follow-Up Services</li>
                    </ul>
                </div>
                <div class="links-cont">
                    <ul class="under">
                        <li>Email List Management Service</li>
                        <li>Sitemap</li>
                        <li>Customer Satisfaction Services</li>
                        <li>Product Promotion Services</li>
                        <li>Soft Skill Training</li>
                        <li>Blogs</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
            <div class="footer-s2-2">
                <div><img src="/assets/images/fb.png" alt='facebook'></div>
                <div><img src="/assets/images/in.png" alt='instagram'></div>
                <div><img src="/assets/images/ln.png" alt='LinkedIn'></div>
            </div>
            <div class="c-grey fs-08  ali-cen gp">
                <p>This website is an entity of Shashi Sales & Marketing. Once you leave Google, Facebook, Bing or any other advertisement page, the responsibility is not on their site anymore. We make sure to explain everything clearly and show proof. We will never sell your email or any information. We follow the rules of CAN-SPAM, and India IT ACT 2000. If you have any questions, you can use the contact us link. Third-party logos displayed on the website are not owned by us, and are displayed only for the representation purpose. The ownership and copyright of Logos belong to their respective organizations. This website and the things we offer are not connected, supported, or approved by any business listed on this page and have not been checked, tested, or given a certificate by any other company listed on this page. The results we show may not always happen and can change based on the market, your hard work, competition, and other things we can't control.</p>
                <p>This information on the website is protected by copyright. Users of this website are not authorized to copy, redistribute, reproduce or make any kind of commercial utilization without a written approval of SSM's.</p>
            </div>
            <div class="footer-end df">
                © 2022 Shashi Sales & Marketing. All Rights Reserved. Udyam Registered Organization. <u>Privacy Policy</u> &nbsp; | &nbsp; <u>Terms of Use</u>
            </div>
        </div>
    </div>
</footer>