<footer>
    <div class="footer-cont">
        <div class="fts1">
            <ul>
                 <li><a href="/">Home</a></li>
                 <li><a href="/about-us">About Us</a></li>
                 <li><a href="/contact-us">Contact Us</a></li>
                 <li><a href="/blogs">Our Blogs</a></li>
                 <li><a href="#faqs">FAQs</a></li>
            </ul>
        </div>
        <div class="fts2">
            <div class="fts2-s1">
                <h3 style="text-align: center;padding: 1vw 0;">SERVICES</h3>
                <ul>
                    <li><a href="/web-development">Web Development</a></li>
                    <li><a href="/search-engine-optimization">Search Engine Optimization</a></li>
                    <li><a href="/graphic-design">Graphic Designing</a></li>
                    <li><a href="/graphic-design">Technical Writing</a></li>
                    <li><a href="/graphic-design">Content Writing</a></li>
                    <li><a href="/web-development">Web Designing</a></li>
                    <li><a href="/product-shoot">Video Editing & Making</a></li>
                    <li><a href="/fusion-marketing">Digital Marketing</a></li>
                    <li><a href="/fusion-marketing">Branding & Affiliate Marketing</a></li>
                    <li><a href="/fusion-marketing">Whatsapp Marketing</a></li>
                    <li><a href="/fusion-marketing">Email Marketing</a></li>
                    <li><a href="/">FEA & CAE</a></li>
                    <li><a href="/business-services">Business Services</a></li>
                    <li><a href="/business-services">Service Desk Solution</a></li>
                    <li><a href="/business-services">Network Support Services</a></li>
                    <li><a href="/business-services">L1/1.5/Technical Support</a></li>
                    <li><a href="/business-services">Call Center Services</a></li>
                    <li><a href="/web-development">Database Development & Mgmt</a></li>
                    <li><a href="/business-services">Mail Follow-Up Services</a></li>
                    <li><a href="/business-services">Email List Management Service</a></li>
                    <li><a href="/">Sitemap</a></li>
                    <li><a href="/business-services">Customer Satisfaction Services</a></li>
                    <li><a href="/product-shoot">Product Promotion Services</a></li>
                    <li><a href="/business-services">Soft Skill Training</a></li>
                </ul>
            </div>
            <div class="fts2-s2">
                <h3 style="text-align: center;padding: 1vw 0;">About Us</h3>
                <p>Shashi Sales and Marketing provides integrated digital business solutions including website development, advertising, SEO, UI/UX design, social media marketing, graphic and video design, product shoots, branding and PR, IT engineering and networking, infrastructure setup, and FMCG trade services, ensuring seamless digital and business solutions for our clients.</p>
                <p>Since 2005, Shashi Sales And Marketing has been a leading super-stockiest in Eastern Uttar Pradesh, India. Shashi Sales has been able to build a strong relationship with Manufacturers even during the COVID times. The efforts and hardwork put together by Shashi Sales & Family has put made it a leading competitor. Try our 18 years of experience and connections.</p>
            </div>
        </div>
        <div class="sptr"></div>
        
        <div class="footer-s1">
            <div>
                <ul>
                    <li class="fsfoot-h">Florida Office Address:</li>
                    <li class="sg">Shashi Consultancy Services LLC 1317 Edge water Dr</li>
                    <li class="sg">#5714 Orlando, FL 32804</li>
                    <li class="sg">EIN 36-5045401 </li>
                    <li class="sg">email: info@shashisales.com</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="fsfoot-h">Noida Address:</li>
                    <li class="sg">Shashi Sales And Marketing, Plot 29 Sector 142, </li>
                    <li class="sg">Noida, Uttar Pradesh-201305, IN</li>
                    <li class="sg">Phone: 8744906520</li>
                    <li class="sg">email: info@shashisales.com</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="fsfoot-h">HQ Office Address :</li>
                    <li class="sg">Shashi Sales & Marketing 14/11B/1,Rambagh,</li>
                    <li class="sg">Prayagraj, U.P - 211003, IN</li>
                    <li class="sg">Phone: 8744906520</li>
                    <li class="sg">email: info@shashisales.com</li>
                </ul>
            </div>
        </div>
        <div class="footer-desc" style="border-bottom: 1px solid white; padding: 2vw 0;">
            <p>This website is an entity of Shashi Sales & Marketing. Once you leave Google, Facebook, Bing or any
                other advertisement page, the responsibility is not on their site anymore. We make sure to explain
                everything clearly and show proof. We will never sell your email or any information. We follow the
                rules of CAN-SPAM, and India IT ACT 2000. If you have any questions, you can use the contact us
                link. Third-party logos displayed on the website are not owned by us, and are displayed only for the
                representation purpose. The ownership and copyright of Logos belong to their respective
                organizations. This website and the things we offer are not connected, supported, or approved by any
                business listed on this page and have not been checked, tested, or given a certificate by any other
                company listed on this page. The results we show may not always happen and can change based on the
                market, your hard work, competition, and other things we can't control.</p>
            <p>This information on the website is protected by copyright. Users of this website are not authorized
                to copy, redistribute, reproduce or make any kind of commercial utilization without a written
                approval of SSM's.</p>
        </div>

        <div class="ftlas">
            <div class="logo"><a href="/"><img src="/assets/images/logo.png" alt='logo'></a></div>
            <div>
                <div>© 2024 Shashi Sales & Marketing. All Rights Reserved. Udyam Registered Organization</div>
                <div>
                    <ul>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/terms-of-use">Terms of Use</a></li>
                        <li><a href="/cookie-policy">Cookie Policy</a></li>
                        <li><a href="/refund-policy">Refund Policy</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <a href="https://www.facebook.com/shashigroups" target="_blank"><img src="/assets/images/fb.webp" alt="Facebook"></a>
                <a href="https://www.instagram.com/shashisales/" target="_blank"><img src="/assets/images/in.webp" alt="Instagram"></a>
                <a href="https://www.linkedin.com/company/shashisales/" target="_blank"><img src="/assets/images/ln.webp" alt="LinkedIn"></a>
            </div>
        </div>
        <div class="ftloc">
            <h3 style="text-align: start;padding: 2vw 0;">Locations</h3>
            <ul>
                <li><a href="/web-development">Website Development in New York</a></li>
                <li><a href="/web-development">Website Development in Chicago</a></li>
                <li><a href="/web-development">Website Development in Los Angeles</a></li>
                <li><a href="/web-development">Website Development in Boston</a></li>
                <li><a href="/web-development">Website Development in San Francisco</a></li>
                <li><a href="/web-development">Website Development in Philadelphia</a></li>
                <li><a href="/web-development">Website Development in Seattle</a></li>
                <li><a href="/web-development">Website Development in Houston</a></li>
                <li><a href="/web-development">Website Development in Dallas</a></li>
                <li><a href="/web-development">Website Development in Atlanta</a></li>
                <li><a href="/web-development">Website Development in Phoenix</a></li>
                <li><a href="/web-development">Website Development in Washington DC</a></li>
                <li><a href="/web-development">Website Development in Las Vegas</a></li>
                <li><a href="/web-development">Website Development in Miami</a></li>
                <li><a href="/web-development">Website Development in Bangalore</a></li>
                <li><a href="/web-development">Website Development in Chennai</a></li>
                <li><a href="/web-development">Website Development in Delhi</a></li>
                <li><a href="/web-development">Website Development in Hyderabad</a></li>
                <li><a href="/web-development">Website Development in Kolkata</a></li>
                <li><a href="/web-development">Website Development in Mumbai</a></li>
                <li><a href="/web-development">Website Development in Ahmedabad</a></li>
                <li><a href="/web-development">Website Development in Pune</a></li>
                <li><a href="/web-development">Website Development in Dhahran</a></li>
                <li><a href="/web-development">Website Development in Riyadh</a></li>
                <li><a href="/web-development">Website Development in Khobar</a></li>
                <li><a href="/web-development">Website Development in Jeddah</a></li>
                <li><a href="/web-development">Website Development in Dammam</a></li>
                <li><a href="/web-development">Website Development in Makkah</a></li>
                <li><a href="/web-development">Website Development in Madinah</a></li>
                <li><a href="/web-development">Website Development in Taif</a></li>
                <li><a href="/web-development">Website Development in Al-Kharj</a></li>
                <li><a href="/web-development">Website Development in Tabuk</a></li>
                <li><a href="/web-development">Website Development in Dubai</a></li>
                <li><a href="/web-development">Website Development in Abu Dhabi</a></li>
                <li><a href="/web-development">Website Development in Sharjah</a></li>
                <li><a href="/web-development">Website Development in Al Ain</a></li>
                <li><a href="/web-development">Website Development in Ajman</a></li>
                <li><a href="/web-development">Website Development in Ras Al Khaimah</a></li>
                <li><a href="/web-development">Website Development in Fujairah</a></li>
                <li><a href="/web-development">Website Development in Umm Al Quwain</a></li>
                <li><a href="/web-development">Website Development in Dibba Al-Fujairah</a></li>
                <li><a href="/web-development">Website Development in Khor Fakkan</a></li>
                <li><a href="/web-development">Website Development in Adam</a></li>
                <li><a href="/web-development">Website Development in As Sib</a></li>
                <li><a href="/web-development">Website Development in Al Ashkharah</a></li>
                <li><a href="/web-development">Website Development in Al Buraimi</a></li>
                <li><a href="/web-development">Website Development in Al Hamra</a></li>
                <li><a href="/web-development">Website Development in Kuwait City</a></li>
                <li><a href="/web-development">Website Development in Al Jahrā’</a></li>
                <li><a href="/web-development">Website Development in Abū Ḩulayfah</a></li>
                <li><a href="/web-development">Website Development in Al Aḩmadī</a></li>
                <li><a href="/web-development">Website Development in Ar Riqqah</a></li>
                <li><a href="/web-development">Website Development in Al Khor</a></li>
                <li><a href="/web-development">Website Development in Al Wakrah</a></li>
                <li><a href="/web-development">Website Development in Mesaieed</a></li>
                <li><a href="/web-development">Website Development in Al Zubarah</a></li>
                <li><a href="/web-development">Website Development in Al Rayyan</a></li>
                <li><a href="/web-development">Website Development in Al Ruwais</a></li>
                <li><a href="/web-development">Website Development in Manama</a></li>
                <li><a href="/web-development">Website Development in Riffa</a></li>
                <li><a href="/web-development">Website Development in Muharraq</a></li>
                <li><a href="/web-development">Website Development in Hamad Town</a></li>
                <li><a href="/web-development">Website Development in A’ali</a></li>                
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in New York</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Chicago</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Los Angeles</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Boston</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in San Francisco</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Philadelphia</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Seattle</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Houston</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Dallas</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Atlanta</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in A’ali</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Phoenix</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Washington DC</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Las Vegas</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Miami</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Bangalore</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Chennai</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Delhi</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Hyderabad</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Kolkata</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Mumbai</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Ahmedabad</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Pune</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Dhahran</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Riyadh</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Khobar</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Jeddah</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Dammam</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Makkah</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Madinah</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Taif</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Al-Kharj</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Tabuk</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Dubai</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Abu Dhabi</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Sharjah</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Al Ain</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Ajman</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Ras Al Khaimah</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Fujairah</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Umm Al Quwain</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Dibba Al-Fujairah</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Khor Fakkan</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Adam</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in As Sib</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Al Ashkharah</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Al Buraimi</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Al Hamra</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Kuwait City</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Al Jahrā’</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Abū Ḩulayfah</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Al Aḩmadī</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Ar Riqqah</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Al Khor</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Al Wakrah</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Mesaieed</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Al Zubarah</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Al Rayyan</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Al Ruwais</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Manama</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Riffa</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Muharraq</a></li>
                <li><a href="/search-engine-optimization">Digital Marketing & SEO Agency in Hamad Town</a></li>          
            </ul>
        </div>
    </div>
</footer>