<header class="bl">
    <!-- changes -->
    <nav>
        <div class="nav-cont">
            <div class="logo"><a href="/"><img src="/assets/images/logo.png" alt='logo'></a></div>
            <div><a href="tel:1800-571-0605">1800-571-0605</a></div>
            <div class="service b"><p>Services</p></div>
            <div><a href="/assets/images/ssm.pdf" target="_blank" class="portfolio">Portfolio</a></div>
            <div class="profile b"><img src="/assets/images/Vector (1).png" alt='vector'></img></div>
            <!-- <div class="search b"><img src="/assets/images/search.png" alt='searchIcon'></img></div> -->
            <div class="hamburger b"><img src="/assets/images/hamburger.png" alt='dropdown'></img></div>
            <div class="get-quote b"><button>Get Quote</button></div>
        </div>

        <!-- Header for mobile view -->
        <div class="mobile-header">
            <div class="logo"><a href="/"><img src="/assets/images/logo.png" alt='logo'></a></div>
            <div id="display-mobile-header-cont" class="hamburger b"><img src="/assets/images/hamburger.png" alt='dropdown'></img></div>
        </div>

        <div class="hide-mobile-header-cont" style="display: none;">
            <div id="mobile-header-popup" class="mobile-header-popup">
                <div class="mobile-header-popup-in">
                    <div class="mobile-service display-service-header-cont"><img src="/assets/images/back-tick.svg" alt="back-tick"></div>
                    <p class="display-service-header-cont">Services</p>
                    <p><a href="/">Portfolio</a></p>
                    <p><a href="/about-us">About Us</a></p>
                    <p><a href="/contact-us">Contact Us</a></p>
                    <p><a href="/blogs">Blog</a></p>
                    <p><a href="/privacy-policy">Privacy Policy</a></p>
                    <p><a href="/terms-of-use">Terms Of Use</a></p>
                    <p><a href="/">Profile</a></p>
                    <!-- <p class="get-quote b"><button>Get Quote</button></p> -->
                </div>
            </div>
        </div>


        <div class="hide-service-header-cont" style="display: none;">
            <div id="service-header-popup" class="mobile-header-popup">
                <div class="mobile-header-popup-in">
                    <!-- <div class="mobile-service">></div> -->
                    <p id="service-back"><img src="/assets/images/back-tick.svg" alt="back-tick"></p>
                    <p><a href="/fusion-marketing">Advertising & Marketing</a></p>
                    <p><a href="/web-development">Development</a></p>
                    <p><a href="/graphic-design">UI/UX & Graphic Design</a></p>
                    <p><a href="/product-shoot">Product Shoot & Photography</a></p>
                    <p><a href="/business-services">Business Services</a></p>
                    <p class="sma"><a >Seller Management</a></p>
                    <p><a href="/search-engine-optimization">Search Engine Optimization</a></p>
                    <p><a href="/email-marketing">Email Marketing</a></p>
                </div>
            </div>
        </div>
    </nav>
    <div class="service-menu a">
        <ul>
            <li class="bb"><a href="/fusion-marketing">Advertising & Marketing            </a></li>
            <li class="bb"><a href="/web-development">Development</a></li>
            <li class="bb"><a href="/graphic-design">UI/UX & Graphic Design</a></li>
       
       
            <li class="bb"><a href="/product-shoot">Product Shoot & Photography</a></li>
            <li class="bb"><a href="/business-services">Business Services</a></li>
            <li><a href="/search-engine-optimization">Search Engine Optimization</a></li>
            <li><a href="/email-marketing">Email Marketing</a></li>
        </ul>
    </div>

    <div class="profile-menu a">
        <!-- <div class="img-name nbb">
            <img src="/assets/images/profile.png" alt="" width="70px">

            <div class="name-em">
                <p class="mkc">Akanksha Tripathi</p>
                <p class="smt">akanksha23@gmail.com</p>
            </div>
        </div>
        <a class="mkc nbb">Dash Board</a>
        <a  class="smt nbb">sign out</a> -->
    </div>

    <!-- <div class="search-menu a">
        <form action="">
            <input type="text" placeholder="Search !">
            <div class="im">
                <img src="/assets/images/s2.png" alt="" >
            </div>
        </form>
    </div> -->

    <div class="hamburger-menu a">
        <a href="/about-us">About us</a>
        <a href="/contact-us">Contact Us</a>
        <a href="/blogs">Blog</a>
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/terms-of-use">Terms of use</a>

    </div>

    <div class="get-quote-menu a">
        <div class="contact-left">
            <div class="contact-left-in">
                <form id="quoteForm" action="/submit-quote" method="post">
                    <div class="fila">
                        <div><input type="text" id="firstName" placeholder="First Name" name="firstName" required></div>
                        <div><input type="text" id="lastName" placeholder="Last Name" name="lastName" required></div>
                    </div>
                    <div class="ph-num">
                        <input type="tel" class="phone" id="phone" placeholder="Phone Number" name="tel" required>
                    </div>
                    
                    <div class="fila"><input type="email" id="email" placeholder="Email Address" name="email" required></div>
                    <div class="ser-h"><textarea id="service" name="service" placeholder="Service" required></textarea>
                    </input></div>
                    
                
                    
                    <div class="form-submit"><input type="submit" value="Submit"></div>
                </form>
            </div>
        </div>
    </div>

</header>
