<% layout("/layouts/boilerplate") %>

    <style>
        .bl {
            background-color: #000;
        }
    </style>

    <!-- Who We Are -->
    <div class="who-cont">
        <div class="who-cont-l">
            <div>
                <div class="title-fs">WHO WE ARE</div>
                <div class="co-g">INTEGRATED DIGITAL BUSINESS SOLUTIONS</div>
                <div class="co-grey">Shashi Sales and Marketing provides integrated digital business solutions including website development, advertising, SEO, UI/UX design, social media marketing, graphic and video design, product shoots, branding and PR, IT engineering and networking, infrastructure setup, and FMCG trade services, ensuring seamless digital and business solutions for our clients.
                </div>
                <button><a href="/contact-us">CONTACT US</a></button>
            </div>
        </div>
        <div class="who-cont-r">
            <img src="/assets/images/abo-img-1.png" alt="abo-img-1">
        </div>
    </div>



    <!-- We're are all about relationships and results -->
    <div class="rel-cont">
        <div class="rel-cont-l">
            <img src="/assets/images/abo-img-2.png" alt="abo-img-2">
        </div>
        <div class="rel-cont-r">
            <div>
                <div class="title-fs">We're All About Relationships And Results</div>
                <div class="co-grey">Since 2005, Shashi Sales And Marketing has been a leading super-stockiest in Eastern Uttar Pradesh, India. Shashi Sales has been able to build a strong relationship with Manufacturers even during the COVID times. The efforts and hardwork put together by Shashi Sales & Family has put made it a leading competitor. Try our 18 years of experience and connections.
                </div>
                <div class="rel-cont-r-in">
                    <div>
                        <div class="bol">100+</div>
                        <div class="smg">CREATORS</div>
                    </div>
                    <div>
                        <div class="bol">740+</div>
                        <div class="smg">PIECES OF CONTENT</div>
                    </div>
                    <div>
                        <div class="bol">200+ M</div>
                        <div class="smg">IMPRESSIONS</div>
                    </div>
                    <div>
                        <div class="bol">32+ M</div>
                        <div class="smg">VIDEO VIEWS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Our History -->
    <div class="hist-cont">
        <div class="hist-cont-in">
            <div class="hist-cont-l">
                <div class="hist-cont-l-in">Our History</div>
            </div>
            <div class="hist-cont-r">
                <div class="hist-cont-r-t">
                    <div class="hist-cont-r-t-in">
                        <div class="hist-box">
                            <div class="bol2">2005</div>
                            <div class="smg2">Estd.Shashi Sales & Marketing</div>
                        </div>
                        <div class="hist-box">
                            <div class="bol2">2016</div>
                            <div class="smg2">Survived Demonetization</div>
                        </div>
                        <div class="hist-box">
                            <div class="bol2">2022</div>
                            <div class="smg2">Introduction Digital Marketing</div>
                        </div>
                    </div>
                </div>
                <div class="hist-cont-r-b">
                    <div class="hist-cont-r-b-in">
                        <div class="hist-box">
                            <div class="bol2">2004</div>
                            <div class="smg2">Quit Job And Planned Business</div>
                        </div>
                        <div class="hist-box">
                            <div class="bol2">2006</div>
                            <div class="smg2">Celebrated Business Success</div>
                        </div>
                        <div class="hist-box">
                            <div class="bol2">2021</div>
                            <div class="smg2">Survived COVID & Scale Trade</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Why Choose Us -->
    <div class="why-cont">
        <div class="why-cont-l">
            <div class="title-fs">Why Choose Us</div>
            <p>In the vast landscape of digital solutions, choosing the right partner is paramount for success, and our
                unwavering commitment to excellence sets us apart. We pride ourselves on seamlessly blending innovation
                with reliability, offering a unique value proposition that caters to the evolving needs of our clients.
                Our seasoned team of experts harnesses cutting-edge technologies to deliver tailored digital marketing
                solutions that not only meet but exceed expectations. With a track record of driving tangible results.
            </p>
        </div>
        <div class="why-cont-r">
            <img src="/assets/images/w-img-2.png" alt="w-img-2">
        </div>
    </div>

    <!-- Problem & Solution -->
    <h1 class="title-fs mtb nc">Problem & Solution</h1>
    <div class="prob-cont">
        <div class="prob-cont-s1">
            <div class="s1-card">
                <div class="b-cen">
                    <div class="headi">1</div>
                </div>
                <p>Without the support of a digital marketing agency, businesses often struggle to establish a
                    significant online presence. This limitation can result in reduced visibility on search engines,
                    lower website traffic.</p>
            </div>
            <div class="s1-card">
                <div class="b-cen">
                    <div class="headi">2</div>
                </div>
                <p>Businesses without a dedicated marketing agency may find it challenging to effectively target their
                    audience and engage potential customers. Without data-driven insights and strategic campaigns</p>
            </div>
            <div class="s1-card">
                <div class="b-cen">
                    <div class="headi">3</div>
                </div>
                <p>The absence of a marketing agency can contribute to a lack of consistency in brand messaging across
                    various channels. Inconsistent communication may confuse potential customers and dilute the brand
                    identity.</p>
            </div>
        </div>


        <div class="sep"></div>

        <div class="prob-cont-s2">
            <div class="s2-card">
                <div class="b-cen">
                    <div class="headi">1</div>
                </div>
                <p>At Shashi Sales and Marketing, we specialize in crafting a comprehensive digital strategy to elevate
                    your online visibility. Through meticulous search engine optimization (SEO), website optimization,
                    and engaging content creation.</p>
            </div>
            <div class="s2-card">
                <div class="b-cen">
                    <div class="headi">2</div>
                </div>
                <p>Shashi Sales and Marketing excels in executing targeted digital marketing campaigns designed to
                    efficiently engage your specific audience. Leveraging data-driven insights, we deploy precise
                    digital advertising, strategic social media campaigns.</p>
            </div>
            <div class="s2-card">
                <div class="b-cen">
                    <div class="headi">3</div>
                </div>
                <p>To address the challenge of inconsistent brand messaging, Shashi Sales and Marketing emphasizes the
                    development of a cohesive and compelling brand identity. Our team works closely with you to create a
                    unified brand message .</p>
            </div>
        </div>
    </div>


    <!-- Our Missions, Vision, Future Plan -->
    <div class="mission-cont">
        <h1 class="title-fs mtb">Our Mission, Vision, Future Plan</h1>
        <div class="mission-cont-in">
            <div class="mission-card">
                <div class="mission-card-in">
                    <h2 class="title-fs09">Mission</h2>
                    <p>Empowering businesses to operate online from home post-COVID shutdowns.</p>
                </div>
                <div class="a1">1</div>
            </div>
            <div class="mission-card">
                <div class="mission-card-in">
                    <h2 class="title-fs09">Vision</h2>
                    <p>Enhancing transparency in spending, ensuring no investment or impression is wasted.</p>
                </div>
                <div class="a1">2</div>
            </div>
            <div class="mission-card">
                <div class="mission-card-in">
                    <h2 class="title-fs09">Future</h2>
                    <p>Entering AI SaaS to offer an all-in-one, powerful marketing tool.</p>
                </div>
                <div class="a1">3</div>
            </div>
        </div>
    </div>

    <!-- Key Pillars & Success Mantras -->
    <div class="pillars-cont">
        <h1 class="title-fs mtb nc">Key Pillars & Success Mantras</h1>
        <div class="pillars-cont-in">
            <div class="pill">
                <div class="pill-img"><img src="/assets/images/man-1.png" alt="man-1"></div>
                <h3 class="t-fs">Enforces Accountability</h3>
                <p class="d-fs">Employees are responsible for their actions.</p>
            </div>
            <div class="pill">
                <div class="pill-img"><img src="/assets/images/man-2.png" alt="man-2"></div>
                <h3 class="t-fs">Tracked Progress</h3>
                <p class="d-fs">Retrospective meetings conducted for improvement.</p>
            </div>
            <div class="pill">
                <div class="pill-img"><img src="/assets/images/man-3.png" alt="man-3"></div>
                <h3 class="t-fs">Reduced Cost & Errors</h3>
                <p class="d-fs">Automating the process saves human errors & time.</p>
            </div>
            <div class="pill">
                <div class="pill-img"><img src="/assets/images/man-4.png" alt="man-4"></div>
                <h3 class="t-fs">Governance Technique</h3>
                <p class="d-fs">Automating the process saves human errors & time.</p>
            </div>
            <div class="pill">
                <div class="pill-img"><img src="/assets/images/man-5.png" alt="man-5"></div>
                <h3 class="t-fs">Streamlined Communication</h3>
                <p class="d-fs">Shared dashboard for brain storming</p>
            </div>
        </div>
    </div>






    <!-- Meet Our Brilliant Team -->
    <div class="brilliant-cont">
        <h1 class="title-fs mtb nc">Meet Our Brilliant Team</h1>
        <div class="bri-card-out">
            <div class="bri-card">
                <div class="img-cont"><img src="/assets/images/img-cli1.png" alt="img-cli1"></div>
                <div class="bri-card-t">
                    <div>
                        <h3>Graphic Designer</h3>
                        <p>Natasha Singh</p>
                    </div>
                </div>
                <div class="bri-card-b">
                    <p>DesignMinds crafts visual stories, not just graphics.</p>
                </div>
            </div>
            <div class="bri-card">
                <div class="img-cont"><img src="/assets/images/img-cli2.png" alt="img-cli2"></div>
                <div class="bri-card-t">
                    <div>
                        <h3>Human Resource</h3>
                        <p>Raj Gupta</p>
                    </div>
                </div>
                <div class="bri-card-b">
                    <p>HRHub shapes careers, not just job placements.</p>
                </div>
            </div>
            <div class="bri-card">
                <div class="img-cont"><img src="/assets/images/img-cli3.png" alt="img-cli3"></div>
                <div class="bri-card-t">
                    <div>
                        <h3>Digital Artist</h3>
                        <p>Veer</p>
                    </div>
                </div>
                <div class="bri-card-b">
                    <p>PixelCraftsman creates digital dreams, not just images.</p>
                </div>
            </div>
            <div class="bri-card">
                <div class="img-cont"><img src="/assets/images/img-cli4.png" alt="img-cli4"></div>
                <div class="bri-card-t">
                    <div>
                        <h3>Marketing</h3>
                        <p>Shivay</p>
                    </div>
                </div>
                <div class="bri-card-b">
                    <p>MarketMinds sparks trends, not just campaigns.</p>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Call Section -->
    <div class="contact-bar">
        <div class="number">
            <img src="/assets/images/call.png" alt="">
            <div class="cn">
                <a href="tel:18005710605">1800-571-0605</a>
                <a href="tel:+13211255890">+1321-125-5890</a>
            </div>
        </div>
        <div class="chat">
            <img src="/assets/images/chat.png" alt="">
            <a href="https://wa.me/9457979134?text=Let%27s%20Talk%20Web%20And%20Marketing%20%5B5%25%20Off%5D">Chat With
                Us</a>
        </div>
        <div class="face chat">
            <a href="https://calendly.com/shashisales">Fix A Face-2-Face</a>
        </div>
        <div class="mail">
            <img src="/assets/images/mail.png" alt="">
            <a
                href="mailto:info@shashisales.com?subject=Service%20Inquiry&body=Hello,%0D%0A%0D%0AI%20am%20interested%20in%20your%20services.%20Here%20are%20my%20details:%0D%0A%0D%0AName:%20%0D%0APhone%20Number:%20%0D%0ABusiness%20Name:%20%0D%0ALocation:%20%0D%0AService%20Required:%20%0D%0ABudget:%20%0D%0A%0D%0AThank%20you!">
                info@shashisales.com</a>
        </div>
    </div>
