<% layout("/layouts/boilerplate") %>

    <style>
        .bl {
            background-color: #000;
        }
    </style>

    <!-- Who We Are -->
    <div class="who-cont">
        <div class="who-cont-l">
            <div>
                <div class="title-fs">WHO WE ARE</div>
                <div class="co-g">LEADING SUPER-STOCKIEST AGENCY</div>
                <div class="co-grey">Since 2005, Shashi Sales And Marketing has been a leading super-stockiest (C & F)
                    in Eastern UP. We have been able to build a strong relationship with Manufacturers even during the
                    COVID times. We have worked and have been working with clients like Cintu, Mahak, JP Sweets and
                    more. Try our 17 years of experience and connections.
                </div>
                <button>CONTACT US</button>
            </div>
        </div>
        <div class="who-cont-r">
            <img src="/assets/images/abo-img-1.png" alt="abo-img-1">
        </div>
    </div>



    <!-- We're are all about relationships and results -->
    <div class="rel-cont">
        <div class="rel-cont-l">
            <img src="/assets/images/abo-img-2.png" alt="abo-img-2">
        </div>
        <div class="rel-cont-r">
            <div>
                <div class="title-fs">We’re All About Relationships And Results</div>
                <div class="co-grey">Since 2005, Shashi Sales And Marketing has been a leading super-stockiest (C & F)
                    in Eastern UP. We have been able to build a strong relationship with Manufacturers even during the
                    COVID times. We have worked and have been working with clients like Cintu, Mahak, JP Sweets and
                    more. Try our 17 years of experience and connections.
                </div>
                <div class="rel-cont-r-in">
                    <div>
                        <div class="bol">100</div>
                        <div class="smg">CREATORS</div>
                    </div>
                    <div>
                        <div class="bol">+300</div>
                        <div class="smg">PIECES OF CONTANT</div>
                    </div>
                    <div>
                        <div class="bol">172 M</div>
                        <div class="smg">IMPRESSION</div>
                    </div>
                    <div>
                        <div class="bol">+50 M</div>
                        <div class="smg">VIDEO VIEW</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Our History -->
    <div class="hist-cont">
        <div class="hist-cont-in">
            <div class="hist-cont-l">
                <div class="hist-cont-l-in">Our History</div>
            </div>
            <div class="hist-cont-r">
                <div class="hist-cont-r-t">
                    <div class="hist-cont-r-t-in">
                        <div class="hist-box">
                            <div class="bol2">2005</div>
                            <div class="smg2">Estd.Shashi Sales & Marketing</div>
                        </div>
                        <div class="hist-box">
                            <div class="bol2">2016</div>
                            <div class="smg2">Survived Demonetization</div>
                        </div>
                        <div class="hist-box">
                            <div class="bol2">2022</div>
                            <div class="smg2">Introduction Digital Marketing</div>
                        </div>
                    </div>
                </div>
                <div class="hist-cont-r-b">
                    <div class="hist-cont-r-b-in">
                        <div class="hist-box">
                            <div class="bol2">2004</div>
                            <div class="smg2">Quit Job And Planned Business</div>
                        </div>
                        <div class="hist-box">
                            <div class="bol2">2006</div>
                            <div class="smg2">Celebrated Business Success</div>
                        </div>
                        <div class="hist-box">
                            <div class="bol2">2021</div>
                            <div class="smg2">Survived COVID & Scale Trade</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Why Choose Us -->
    <div class="why-cont">
        <div class="why-cont-l">
            <div class="title-fs">Why Choose Us</div>
            <p>In the vast landscape of digital solutions, choosing the right partner is paramount for success, and our
                unwavering commitment to excellence sets us apart. We pride ourselves on seamlessly blending innovation
                with reliability, offering a unique value proposition that caters to the evolving needs of our clients.
                Our seasoned team of experts harnesses cutting-edge technologies to deliver tailored digital marketing
                solutions that not only meet but exceed expectations. With a track record of driving tangible results.
            </p>
        </div>
        <div class="why-cont-r">
            <img src="/assets/images/w-img-2.png" alt="w-img-2">
        </div>
    </div>

    <!-- Problem & Solution -->
    <div class="prob-cont">
        <h1 class="title-fs">Problem & Solution</h1>
        <div class="prob-cont-s1">
            <div class="s1-card">
                <div class="b-cen">
                    <div class="headi">1</div>
                </div>
                <p>Without the support of a digital marketing agency, businesses often struggle to establish a
                    significant online presence. This limitation can result in reduced visibility on search engines,
                    lower website traffic.</p>
            </div>
            <div class="s1-card">
                <div class="b-cen">
                    <div class="headi">2</div>
                </div>
                <p>Businesses without a dedicated marketing agency may find it challenging to effectively target their
                    audience and engage potential customers. Without data-driven insights and strategic campaigns</p>
            </div>
            <div class="s1-card">
                <div class="b-cen">
                    <div class="headi">3</div>
                </div>
                <p>The absence of a marketing agency can contribute to a lack of consistency in brand messaging across
                    various channels. Inconsistent communication may confuse potential customers and dilute the brand
                    identity.</p>
            </div>
        </div>


        <div class="sep"></div>

        <div class="prob-cont-s2">
            <div class="s2-card">
                <div class="b-cen">
                    <div class="headi">1</div>
                </div>
                <p>At Shashi Sales and Marketing, we specialize in crafting a comprehensive digital strategy to elevate
                    your online visibility. Through meticulous search engine optimization (SEO), website optimization,
                    and engaging content creation.</p>
            </div>
            <div class="s2-card">
                <div class="b-cen">
                    <div class="headi">2</div>
                </div>
                <p>Shashi Sales and Marketing excels in executing targeted digital marketing campaigns designed to
                    efficiently engage your specific audience. Leveraging data-driven insights, we deploy precise
                    digital advertising, strategic social media campaigns.</p>
            </div>
            <div class="s2-card">
                <div class="b-cen">
                    <div class="headi">3</div>
                </div>
                <p>To address the challenge of inconsistent brand messaging, Shashi Sales and Marketing emphasizes the
                    development of a cohesive and compelling brand identity. Our team works closely with you to create a
                    unified brand message .</p>
            </div>
        </div>
    </div>


    <!-- Our Missions, Vision, Future Plan -->
    <div class="mission-cont">
        <h1 class="title-fs">Our Missions, Vision, Future Plan</h1>
        <div class="mission-cont-in">
            <div class="mission-card">
                <div class="mission-card-in">
                    <h2 class="title-fs09">Missions</h2>
                    <p>At Shashi Sales and Marketing, we specialize in crafting a comprehensive D</p>
                </div>
                <div class="a1">1</div>
            </div>
            <div class="mission-card">
                <div class="mission-card-in">
                    <h2 class="title-fs09">Vision</h2>
                    <p>At Shashi Sales and Marketing, we specialize in crafting a comprehensive D</p>
                </div>
                <div class="a1">2</div>
            </div>
            <div class="mission-card">
                <div class="mission-card-in">
                    <h2 class="title-fs09">Future</h2>
                    <p>At Shashi Sales and Marketing, we specialize in crafting a comprehensive D</p>
                </div>
                <div class="a1">3</div>
            </div>
        </div>
    </div>

    <!-- Key Pillars & Success Mantras -->
    <div class="pillars-cont">
        <h1 class="title-fs">Key Pillars & Success Mantras</h1>
        <div class="pillars-cont-in">
            <div class="pill">
                <div><img src="/assets/images/man-1.png" alt="man-1"></div>
                <h3 class="t-fs">Enforces Accountability</h3>
                <p class="d-fs">Employees are responsible for their actions.</p>
            </div>
            <div class="pill">
                <div><img src="/assets/images/man-2.png" alt="man-2"></div>
                <h3 class="t-fs">Tracked Progress</h3>
                <p class="d-fs">Retrospective meetings conducted for improvement.</p>
            </div>
            <div class="pill">
                <div><img src="/assets/images/man-3.png" alt="man-3"></div>
                <h3 class="t-fs">Reduced Cost & Errors</h3>
                <p class="d-fs">Automating the process saves human errors & time.</p>
            </div>
            <div class="pill">
                <div><img src="/assets/images/man-4.png" alt="man-4"></div>
                <h3 class="t-fs">Governance Technique</h3>
                <p class="d-fs">Automating the process saves human errors & time.</p>
            </div>
            <div class="pill">
                <div><img src="/assets/images/man-5.png" alt="man-5"></div>
                <h3 class="t-fs">Streamlined Communication</h3>
                <p class="d-fs">Shared dashboard for brain storming</p>
            </div>
        </div>
    </div>

    <!-- Client Testimonials -->
    <div class="df">
        <h1 class="title-fs">Client Testimonials</h1>
    </div>
    <!-- change -->
    <div class="testimonial-section">
        <div class="testimonial-container">
            <div class="testimonial left">
                <p>Thank You So Much For Our Website And Digital Marketing. I Sat Back And Relaxed Because Of Them.
                </p>
                <p class="name" style="display: none;">- Author 1</p>
                <img src="/assets/images/cli1.png" alt="Person 1">
            </div>
            <div class="testimonial center">
                <p>Thank You So Much For Helping Me With Going Customer And Understanding The Analytics Website Is
                    Also Smooth Cneapest Diwali Deal!</p>
                <p class="name">- Pragati Jain</p>
                <img src="/assets/images/cli2.png" alt="Person 2">
            </div>
            <div class="testimonial right">
                <p>They Are Serious And Truly Care About Their Clients. They Always Accept The Customers Complaint
                    And Input.</p>
                <p class="name" style="display: none;">- Author 3</p>
                <img src="/assets/images/cli3.png" alt="Person 3">
            </div>
        </div>
        <div class="testimonial-buttons">
            <button class="susses-story">Susses Story</button>
            <button class="growth">Growth</button>
            <button class="case-study">Case Study</button>
        </div>
    </div>
    <!-- <div class="product-outer-container">
        <section class="product">

            <div class="button-center">
                <div class="button-left"><button class="pre-btn"><img src="images/angle-right.png" height=25px
                            width=25px alt=""></button></div>

                <div class="product-container">


                    <div class="testimonial-card">
                        <div class="tci" id="tci1">
                            <div class="m-3 ali-cen">''Thank you so much for our website and digital marketing. I sat
                                back and relaxed because of them.</div>
                        </div>
                        <div class="cen">
                            <div class="abs"><img src="/assets/images/cli1.png" alt='cli1'></img></div>
                        </div>
                        <div class="df"><button id="id1">Success Story</button></div>
                    </div>
                    <div class="testimonial-card">
                        <div class="tci" id="tci2">
                            <div class="m-3 ali-cen">''They are serious and truly care about their clients. they always
                                accept the customers complaint and input.</div>
                        </div>
                        <div class="cen">
                            <div class="abs"><img src="/assets/images/cli2.png" alt='cli1'></img></div>
                        </div>
                        <div class="df"><button id="id2">Case Study</button></div>
                    </div>
                    <div class="testimonial-card">
                        <div class="tci" id="tci3">
                            <div class="m-3 ali-cen">''thank you so much for helping me with going customer and
                                understanding the analytics website is also smooth cheapest Diwali deal!
                                -pragati jain</div>
                        </div>
                        <div class="cen">
                            <div class="abs"><img src="/assets/images/cli3.png" alt='cli1'></img></div>
                        </div>
                        <div class="df"><button id="id3">Growth</button></div>
                    </div>
                    <div class="testimonial-card">
                        <div class="tci" id="tci4">
                            <div class="m-3 ali-cen">''thank you so much for helping me with going customer and
                                understanding the analytics website is also smooth cheapest Diwali deal!
                                -pragati jain</div>
                        </div>
                        <div class="cen">
                            <div class="abs"><img src="/assets/images/cli3.png" alt='cli1'></img></div>
                        </div>
                        <div class="df"><button id="id4">Growth</button></div>
                    </div>
                    <div class="testimonial-card">
                        <div class="tci" id="tci5">
                            <div class="m-3 ali-cen">''thank you so much for helping me with going customer and
                                understanding the analytics website is also smooth cheapest Diwali deal!
                                -pragati jain</div>
                        </div>
                        <div class="cen">
                            <div class="abs"><img src="/assets/images/cli3.png" alt='cli1'></img></div>
                        </div>
                        
                        <div class="df" id="id5"><button>Growth</button></div>
                    </div>


                </div>
                <div class="button-right"><button class="nxt-btn"><img src="images/angle-right.png" height=25px
                            width=25px alt=""></button></div>
            </div>
        </section>


    </div> -->

    <!-- Meet Our Brilliant Team -->
    <div class="brilliant-cont">
        <h1 class="title-fs">Meet Our Brilliant Team</h1>
        <div class="bri-card-out">
            <div class="bri-card">
                <div class="img-cont"><img src="/assets/images/img-cli1.png" alt="img-cli1"></div>
                <div class="bri-card-t">
                    <div>
                        <h3>Graphic Designer</h3>
                        <p>Natasha Singh</p>
                    </div>
                </div>
                <div class="bri-card-b">
                    <p>DesignMinds crafts visual stories, not just graphics.</p>
                </div>
            </div>
            <div class="bri-card">
                <div class="img-cont"><img src="/assets/images/img-cli2.png" alt="img-cli2"></div>
                <div class="bri-card-t">
                    <div>
                        <h3>Human Resource</h3>
                        <p>Raj Gupta</p>
                    </div>
                </div>
                <div class="bri-card-b">
                    <p>HRHub shapes careers, not just job placements.</p>
                </div>
            </div>
            <div class="bri-card">
                <div class="img-cont"><img src="/assets/images/img-cli3.png" alt="img-cli3"></div>
                <div class="bri-card-t">
                    <div>
                        <h3>Digital Artist</h3>
                        <p>Veer</p>
                    </div>
                </div>
                <div class="bri-card-b">
                    <p>PixelCraftsman creates digital dreams, not just images.</p>
                </div>
            </div>
            <div class="bri-card">
                <div class="img-cont"><img src="/assets/images/img-cli4.png" alt="img-cli4"></div>
                <div class="bri-card-t">
                    <div>
                        <h3>Marketing</h3>
                        <p>Shivay</p>
                    </div>
                </div>
                <div class="bri-card-b">
                    <p>MarketMinds sparks trends, not just campaigns.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Call Section -->
    <div class="call-container mar-bot">
        <div class="df"><span><img class="logo-call" src="/assets/images/logo-ph.png" alt='logo-ph'></img></span>
            <div class="dg">
                <div>1800-571-0605</div>
                <div>+1321-125-5890</div>
            </div>
        </div>
        <div><button>
                <div class="df"><span><img class="logo-call" src="/assets/images/logo-msg.png"
                            alt='logo-msg'></img></span>Chat With Us</div>
            </button></div>
        <div><button>
                <div class="df">
                    <h4>Fix a Face-2-Face</h4>
                </div>
            </button></div>
        <div class="df"><span><img class="logo-call" src="/assets/images/logo-mail.png"
                    alt='logo-mail'></img></span>info@shashisales.com</div>
    </div>