
<% layout("/layouts/boilerplate") %>

    <style>
        .bl {
            background-color: #000;
        }
    </style>

    <div class="nav2">
        <div class="nav2-left">
            <div class="nav2-left-in">
                <div>Building Brands, Driving Growth: Your Vision Meets Our Strategy</div>
                <div><a href="/contact-us">Book Now</a></div>
            </div>
        </div>
        <div class="nav2-right" style="aspect-ratio: 931/882;">
                <img src="/assets/images/ad-img.webp" alt='ad-img'></img>
        </div>
    </div>



    <section class="page2">
        <div class="divider">
            <img src="/assets/images/page2.webp" alt="">
        </div>
    
        <div class="logo-box1">
            <div class="bar">
              <div class="inner-bar">
                <img src="/assets/images/l1.webp" alt="Hello">
                <img src="/assets/images/l2.webp" alt="Hello">
                <img src="/assets/images/l3.webp" alt="Hello">
                <img src="/assets/images/l4.webp" alt="Hello">
                <img src="/assets/images/l5.webp" alt="Hello">
                <img src="/assets/images/l6.webp" alt="Hello">
                <img src="/assets/images/l7.webp" alt="Hello">
                <img src="/assets/images/l8.webp" alt="Hello">
                <img src="/assets/images/l9.webp" alt="Hello">
                <img src="/assets/images/l10.webp" alt="Hello">
                <!-- duplicate the images to create the infinite effect -->
                <img src="/assets/images/l1.webp" alt="Hello">
                <img src="/assets/images/l2.webp" alt="Hello">
                <img src="/assets/images/l3.webp" alt="Hello">
                <img src="/assets/images/l4.webp" alt="Hello">
                <img src="/assets/images/l5.webp" alt="Hello">
                <img src="/assets/images/l6.webp" alt="Hello">
                <img src="/assets/images/l7.webp" alt="Hello">
                <img src="/assets/images/l8.webp" alt="Hello">
                <img src="/assets/images/l9.webp" alt="Hello">
                <img src="/assets/images/l10.webp" alt="Hello">
              </div>
            </div>
          </div>
        <div class="logo-box2">
            <div class="img"><img src="/assets/images/BF1.webp" alt="BF1"></div>
            <div class="img"><img src="/assets/images/BF2.webp" alt="BF2"></div>
            <div class="img"><img src="/assets/images/BF3.webp" alt="BF3"></div>
        </div>
    
    </section>






    <!-- Marketing We Do -->
    <h1 class="mmtb oim">Marketing We Do</h1>
    <div class="marketing-cont">
        <div class="marketing-card clipp">
            <div class="mar-img"><a href="/search-engine-optimization"><img class="ad-img" src="/assets/images/m1.webp" loading="lazy" alt='m1'></img></a></div>
            <div class="mar-desc">
                <div><a href="/search-engine-optimization">Search Engine Optimization</a></div>
                <div>SEO involves optimizing yourwebsite and content to improve its visibility and ranking in search
                    engineresults pages (SERPs), thereby driving organic (non-paid) traffic to your site.</div>
            </div>
        </div>

        <div class="marketing-card">
            <div class="mar-img"><img class="ad-img" src="/assets/images/m2.webp" alt='m2'></img></div>
            <div class="mar-desc">
                <div>Search Engine Marketing</div>
                <div>SEM involves paid advertisingon search engines, commonly known as pay-per-click (PPC)
                    advertising.Advertisers bid on keywords related to their business to have their adsdisplayed
                    prominently in search engine results.</div>
            </div>
        </div>

        <div class="marketing-card">
            <div class="mar-img"><img class="ad-img" src="/assets/images/m3.webp" alt='m3'></img></div>
            <div class="mar-desc">
                <div>Social Media Marketing</div>
                <div>SMM involves using social media platforms like Facebook, Instagram, Twitter,LinkedIn, and others to
                    connect with your audience, build brand awareness, and drive engagement and website traffic.</div>
            </div>
        </div>

        <div class="marketing-card clipr clipp">
            <div class="mar-img"><img class="ad-img" src="/assets/images/m4.webp" alt='m4'></img></div>
            <div class="mar-desc">
                <div>Content Marketing</div>
                <div>Content marketing focuses on creating and distributing valuable, relevant, andconsistent content to
                    attract and retain a clearly defined audience. Content types may include blog posts, videos, info
                    graphics,e-books, and more.</div>
            </div>
        </div>

        <div class="marketing-card clipp">
            <div class="mar-img"><a href="/email-marketing"><img class="ad-img" src="/assets/images/m5.webp" loading="lazy" alt='m5'></img></a></div>
            <div class="mar-desc">
                <div><a href="/email-marketing">Email Marketing</a></div>
                <div>Emailmarketing involves sending targeted and personalized emails to prospects andcustomers to
                    nurture relationships, promote products or services, drive sales,and increase brand loyalty</div>
            </div>
        </div>

        <div class="marketing-card">
            <div class="mar-img"><img class="ad-img" src="/assets/images/m6.webp" loading="lazy" alt='m6'></img></div>
            <div class="mar-desc">
                <div>Influencer Marketing</div>
                <div>Influence marketing involves partnering with influential individuals or content creators to promote
                    your products or services to their audience. Influencers can help reach and engage with niche
                    audiences effectively.</div>
            </div>
        </div>

        <div class="marketing-card clipp">
            <div class="mar-img"><img class="ad-img" src="/assets/images/m7.webp" loading="lazy" alt='m7'></img></div>
            <div class="mar-desc">
                <div>Mobile Marketing</div>
                <div>:Mobile marketing involves reaching and engaging with audiences on mobiledevices through various
                    channels, such as mobile-optimized websites, mobileapps, SMS marketing, and mobile advertising</div>
            </div>
        </div>

        <div class="marketing-card clipr">
            <div class="mar-img"><img class="ad-img" src="/assets/images/m8.webp" loading="lazy" alt='m8'></img></div>
            <div class="mar-desc">
                <div>Display Advertising</div>
                <div>1. Display advertising involvesplacing visual ads (banners, images, videos) on third-party websites
                    orplatforms to reach specific audiences and drive traffic or conversions.</div>
            </div>
        </div>
    </div>





    <!-- Media Platforms -->
    <h1 class="nmtb">360 Degree Media Platforms Covered</h1>
    <div class="media-platforms">
        <div></div>
        <div class="media-card-container">
            <div class="media-card">
                <div class="media-card-in">
                    <h2>Print Advertising</h2>
                    <div>This includes advertisements placed in newspapers, magazines, brochures, fliers,posters, and
                        other printed materials. Print advertising offers a tangible format for conveying messages to
                        audiences</div>
                </div>
            </div>
            <div class="media-card">
                <div class="media-card-in">
                    <h2>Telivision Advertising</h2>
                    <div>Television commercials are ads aired on television networks or channels during breaks in
                        programming. TV advertising allows businesses to reach a broad audience and convey messages
                        using audiovisual elements.</div>
                </div>
            </div>
            <div class="media-card">
                <div class="media-card-in">
                    <h2>Radio Advertising</h2>
                    <div>Radio advertisements are broadcast overradio stations and consist of audio-only messages. Radio
                        advertising caneffectively target specific demographics and reach listeners during their
                        dailyroutines.</div>
                </div>
            </div>
        </div>
    </div>




    <!-- Client Testimonials -->
    <h1 class="nmtb">Client Testimonials</h1>
    <div class="testimonial-section imbm fadp ">
        <div class="testimonial-container">
            <div class="testimonial left">
                <p>Fresh & eye-catching graphic designs for meetings. Plan videos were the best. Thank you
                </p>
                <p class="name" style="display: none;">- Rajiv</p>
                <img src="/assets/images/t3.webp" loading="lazy" alt="Person 3">
            </div>
            <div class="testimonial center">
                <p>They are serious and truly care about their clients. They always accept the customer's complaint and input</p>
                <p class="name">- Pragati Jain</p>
                <img src="/assets/images/t2.webp" loading="lazy" alt="Person 2">
            </div>
            <div class="testimonial right">
                <p>Closed 4 clients for interior design in 2 months at every cheap investment. Shashi Sales has been helping a lot.</p>
                <p class="name" style="display: none;">- V V Pandey</p>
                <img src="/assets/images/t1.webp" loading="lazy" alt="Person 1">
            </div>
        </div>
        <div class="testimonial-buttons">
            <button class="susses-story">Susses Story</button>
            <button class="growth">Growth</button>
            <button class="case-study">Case Study</button>
        </div>
    </div>


    <!-- Call Section -->
    <div class="contact-bar">
        <div class="number">
            <img src="/assets/images/call.png" loading="lazy" alt="">
            <div class="cn">
                <a href="tel:18005710605">1800-571-0605</a>
                <a href="tel:+13211255890">+1321-125-5890</a>
            </div>
        </div>
        <div class="chat">
            <img src="/assets/images/chat.png" loading="lazy" alt="">
            <a href="https://wa.me/9457979134?text=Let%27s%20Talk%20Web%20And%20Marketing%20%5B5%25%20Off%5D">Chat With
                Us</a>
        </div>
        <div class="face chat">
            <a href="https://calendly.com/shashisales">Fix A Face-2-Face</a>
        </div>
        <div class="mail">
            <img src="/assets/images/mail.png" loading="lazy" alt="">
            <a
                href="mailto:info@shashisales.com?subject=Service%20Inquiry&body=Hello,%0D%0A%0D%0AI%20am%20interested%20in%20your%20services.%20Here%20are%20my%20details:%0D%0A%0D%0AName:%20%0D%0APhone%20Number:%20%0D%0ABusiness%20Name:%20%0D%0ALocation:%20%0D%0AService%20Required:%20%0D%0ABudget:%20%0D%0A%0D%0AThank%20you!">
                info@shashisales.com</a>
        </div>
    </div>
