<% layout("/layouts/boilerplate") %>

<style>
    .bl {
        background-color: #000;
    }
</style>

<div class="nav2">
    <div class="nav2-left">
        <div class="nav2-left-in">
            <div>Building Brands, Driving Growth:  Your Vision Meets Our Strategy</div>
            <div><button>Book Now</button></div>
        </div>
    </div>
    <div class="nav2-right">
        <div>
            <img src="/assets/images/ad-img.png" alt='ad-img'></img>
        </div>
    </div>
</div>



<section class="logo-divi">
    <div class="divider">
        <img src="/assets/images/page2.png" alt="">
    </div>

    <div class="logo-box1">
        <div class="bar">
            <img src="/assets/images/l1.png" alt="Hello">
            <img src="/assets/images/l2.png" alt="Hello">
            <img src="/assets/images/l3.png" alt="Hello">
            <img src="/assets/images/l4.png" alt="Hello">
            <img src="/assets/images/l1.png" alt="Hello">
            <img src="/assets/images/l2.png" alt="Hello">
            <img src="/assets/images/l3.png" alt="Hello">
            <img src="/assets/images/l4.png" alt="Hello">
            <img src="/assets/images/l1.png" alt="Hello">
            <img src="/assets/images/l2.png" alt="Hello">
            <img src="/assets/images/l3.png" alt="Hello">
            <img src="/assets/images/l4.png" alt="Hello">
            <img src="/assets/images/l1.png" alt="Hello">
            <img src="/assets/images/l2.png" alt="Hello">
            <img src="/assets/images/l3.png" alt="Hello">
            <img src="/assets/images/l4.png" alt="Hello">


        </div>
    </div>
    <div class="logo-box2">
        <div class="img"><img src="/assets/images/BF1.png" alt=""></div>
        <div class="img"><img src="/assets/images/BF2.png" alt=""></div>
        <div class="img"><img src="/assets/images/BF3.png" alt=""></div>
    </div>

</section>






<!-- Marketing We Do -->
<h1>Marketing We Do</h1>
<div class="marketing-cont">
        <div class="mar-section">
            <div class="marketing-card clipp">
                <div class="mar-img"><img class="ad-img" src="/assets/images/m1.png" alt='m1'></img></div>
                <div class="mar-desc">
                    <div>Search Engine Optimization</div>
                    <div>SEO involves optimizing yourwebsite and content to improve its visibility and ranking in search engineresults pages (SERPs), thereby driving organic (non-paid) traffic to your site.</div>
                </div>
            </div>

            <div class="marketing-card">
                <div class="mar-img"><img class="ad-img" src="/assets/images/m2.png" alt='m2'></img></div>
                <div class="mar-desc">
                    <div>Search Engine Marketing</div>
                    <div>SEM involves paid advertisingon search engines, commonly known as pay-per-click (PPC) advertising.Advertisers bid on keywords related to their business to have their adsdisplayed prominently in search engine results.</div>
                </div>
            </div>

            <div class="marketing-card">
                <div class="mar-img"><img class="ad-img" src="/assets/images/m3.png" alt='m3'></img></div>
                <div class="mar-desc">
                    <div>Social Media Marketing</div>
                    <div>SMM involves using social media platforms like Facebook, Instagram, Twitter,LinkedIn, and others to connect with your audience, build brand awareness, and drive engagement and website traffic.</div>
                </div>
            </div>

            <div class="marketing-card clipr">
                <div class="mar-img"><img class="ad-img" src="/assets/images/m4.png" alt='m4'></img></div>
                <div class="mar-desc">
                    <div>Content Marketing</div>
                    <div>Content marketing focuses on creating and distributing valuable, relevant, andconsistent content to attract and retain a clearly defined audience. Content types may include blog posts, videos, info graphics,e-books, and more.</div>
                </div>
            </div>
        </div>

        <div class="mar-section">
            <div class="marketing-card clipp">
                <div class="mar-img"><img class="ad-img" src="/assets/images/m5.png" alt='m5'></img></div>
                <div class="mar-desc">
                    <div>Email Marketing</div>
                    <div>Emailmarketing involves sending targeted and personalized emails to prospects andcustomers to nurture relationships, promote products or services, drive sales,and increase brand loyalty</div>
                </div>
            </div>

            <div class="marketing-card">
                <div class="mar-img"><img class="ad-img" src="/assets/images/m6.png" alt='m6'></img></div>
                <div class="mar-desc">
                    <div>Influencer Marketing</div>
                    <div>Influence marketing involves partnering with influential individuals or content creators to promote your products or services to their audience. Influencers can help reach and engage with niche audiences effectively.</div>
                </div>
            </div>

            <div class="marketing-card">
                <div class="mar-img"><img class="ad-img" src="/assets/images/m7.png" alt='m7'></img></div>
                <div class="mar-desc">
                    <div>Mobile Marketing</div>
                    <div>:Mobile marketing involves reaching and engaging with audiences on mobiledevices through various channels, such as mobile-optimized websites, mobileapps, SMS marketing, and mobile advertising</div>
                </div>
            </div>

            <div class="marketing-card clipr">
                <div class="mar-img"><img class="ad-img" src="/assets/images/m8.png" alt='m8'></img></div>
                <div class="mar-desc">
                    <div>Display Advertising</div>
                    <div>1. Display advertising involvesplacing visual ads (banners, images, videos) on third-party websites orplatforms to reach specific audiences and drive traffic or conversions.</div>
                </div>
            </div>
        </div>
</div>

<!-- Media Platforms -->
    <h1>360 Degree Media Platforms Covered</h1>
    <div class="media-platforms">
        <div></div>
        <div class="media-card-container">
            <div class="media-card">
                <div class="media-card-in">
                    <h2>Print Advertising</h2>
                    <div>This includes advertisements placed in newspapers, magazines, brochures, fliers,posters, and other printed materials. Print advertising offers a tangible format for conveying messages to audiences</div>
                </div>
            </div>
            <div class="media-card">
                <div class="media-card-in">
                    <h2>Telivision Advertising</h2>
                    <div>Television commercials are ads aired on television networks or channels during breaks in programming. TV advertising allows businesses to reach a broad audience and convey messages using audiovisual elements.</div>
                </div>
            </div>
            <div class="media-card">
                <div class="media-card-in">
                    <h2>Radio Advertising</h2>
                    <div>Radio advertisements are broadcast overradio stations and consist of audio-only messages. Radio advertising caneffectively target specific demographics and reach listeners during their dailyroutines.</div>
                </div>
            </div>
        </div>
    </div>




    <!-- Client Testimonials -->
    <h1>Client Testimonials</h1>
    <div class="testimonial-section">
        <div class="testimonial-container">
            <div class="testimonial left">
                <p>Thank You So Much For Our Website And Digital Marketing. I Sat Back And Relaxed Because Of Them.
                </p>
                <p class="name" style="display: none;">- Author 1</p>
                <img src="/assets/images/cli1.png" alt="Person 1">
            </div>
            <div class="testimonial center">
                <p>Thank You So Much For Helping Me With Going Customer And Understanding The Analytics Website Is
                    Also Smooth Cneapest Diwali Deal!</p>
                <p class="name">- Pragati Jain</p>
                <img src="/assets/images/cli2.png" alt="Person 2">
            </div>
            <div class="testimonial right">
                <p>They Are Serious And Truly Care About Their Clients. They Always Accept The Customers Complaint
                    And Input.</p>
                <p class="name" style="display: none;">- Author 3</p>
                <img src="/assets/images/cli3.png" alt="Person 3">
            </div>
        </div>
        <div class="testimonial-buttons">
            <button class="susses-story">Susses Story</button>
            <button class="growth">Growth</button>
            <button class="case-study">Case Study</button>
        </div>
    </div>
    

<!-- Call Section -->
<div class="call-out">
    <div class="call-container">
        <div class="df"><span><img src="/assets/images/logo-ph.png" alt='logo-ph'></img></span>
        <div class="dg">
            <div>1800-571-0605</div>
            <div>+1321-125-5890</div>
        </div></div>
        <div><button><div class="df"><span><img src="/assets/images/logo-msg.png" alt='logo-msg'></img></span>Chat With Us</div></button></div>
        <div><button><div class="df"><h4>Fix a Face-2-Face</h4></div></button></div>
        <div class="df"><span><img src="/assets/images/logo-mail.png" alt='logo-mail'></img></span>info@shashisales.com</div>
    </div>
</div>
