
<% layout("/layouts/boilerplate") %>

<style>
  .bl {
    background-color: #000;
  }
  .highlight {
    color: #C4C800;
    text-decoration: underline;
  }
  .service-menu li {
    cursor: pointer;
  }
  .selected {
    color: #C4C800;
    text-decoration: underline;
  }
  .bus-ser-l h1{
        line-height: 1.5;
        font-size: 3.7vw;
        font-family: "Roboto-Serif";
    }
</style>

<!-- Sub Header -->
<div class="sub-header">
    <span>
      <ul class="service-menu">
        <li class="selected" onclick="showService('call-center-services', this)">Call Center Services</li>
        <li onclick="showService('service-desk-solutions', this)">Service Desk Solutions</li>
        <li onclick="showService('network-support-service', this)">Network Support Service</li>
        <li onclick="showService('technical-support', this)">L1/1.5/TECHNICAL SUPPORT</li>
    </ul>
    </span>
</div>

<div class="service-container">
    <div class="call-center-services">
      <div class="bus-ser">
        <div class="bus-ser-l">
            <span>
                <p><h1>CUSTOMER SUPPORT CALL CENTRE SERVICE</h1></p>
                <a href="/contact" class="bus-ser-btn">CONSULT NOW</a>
            </span>
        </div>
        <div class="bus-ser-r"><img src="/assets/images/pikaso_reimagine_digital-painting-call-center-service-bold-and-slim 1.webp" alt="bus-ser-img"></div>
      </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Call Center Services -->
      <div class="hed fsmph" style="padding-top: 0 !important;"><span style="color: #C4C800; font-family: 'Roboto-Serif';">CALL CENTER</span> SERVICES</div>
      <div class="ccs">
        <p>Want to expand your business and increase your revenue? You may want to take a good look at your customer support service strategy. In the age of personalization, it is crucial to keep in close touch with your customers while keeping the costs in check. With our efficient and affordable call center services, you can now work on building customer loyalty and watch your profits grow!</p>
        <p>SSM is a provider of outbound call services in India. With two decades of industry experience, we have established ourselves as a premier service provider in the industry. We have catered to numerous global clients from different verticals and domains with 100% client satisfaction. Reach out to us with your specific requirements today!</p>
      </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Outbound Call Center Services -->
      <div class="hed fsmph" style="padding-top: 0 !important;"><span style="color: #C4C800; font-family: 'Roboto-Serif';">OUTBOUND</span> CALL CENTER SERVICES</div>
      <div class="occs">
        <p>
          We make customer service look like a cakewalk through our reliable, professional, and cost-effective outbound call center solutions. Our outbound sales call center professionals also have expertise in the following -
        </p>
        <ul>
          <li>CALL CENTER DATABASE DEVELOPMENT & MANAGEMENT</li>
          <li>DIRECT MAIL FOLLOW-UP SERVICES</li>
          <li>OUTSOURCE EMAIL LIST MANAGEMENT SERVICES</li>
          <li>CUSTOMER SATISFACTION SURVEYS</li>
          <li>OUTSOURCE PRODUCT PROMOTION SERVICES</li>
        </ul>
      </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Our Expertise Area -->
      <div class="hed fsmph" style="padding-top: 0 !important;"><span style="color: #C4C800; font-family: 'Roboto-Serif';">OUR EXPERTISE AREA</div>
      <div class="oea">
        <div class="oea-in">
          <div>
            <ul style="line-height: 1.5;">
              <li>Product Sales</li>
              <li>Order Taking</li>
              <li>Customer Support</li>
              <li>Sales Lead Generation</li>
              <li>Customer Satisfaction Surveys</li>
              <li>Sales Support</li>
              <li>Order Fulfilment</li>
              <li>Conference & Registration</li>
            </ul>
          </div>
          <div class="oea-img">
            <img src="/assets/images/Rectangle 135.webp" alt="oea-img">
          </div>
        </div>
        <p style="margin-top: 2vw;">We can customize our call center solutions to specifically meet your business requirements. We believe in total transparency and allow our customers to make informed business decisions. Calculate your call center staffing and budget before taking the plunge!</p>
      </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Your Benefits In Outsourcing Outbound BPO Service -->
      <div class="hed fsmph" style="padding-top: 0 !important;">Your Benefits In Outsourcing Outbound<span style="color: #C4C800; font-family: 'Roboto-Serif';"> BPO Services</span></div>
      <div class="occs">
        <!-- <p>
          We make customer service look like a cakewalk through our reliable, professional, and cost-effective outbound call center solutions. Our outbound sales call center professionals also have expertise in the following -
        </p> -->
        <ul>
          <li>You can save up to 60% on operating costs and make a huge difference to your budget</li>
          <li>You get a dedicated team of call center agents to work 24/7</li>
          <li>All calls are monitored and recorded for your reference</li>
          <li>The quality of the calls is supervised by our managers.</li>
          <li>Rigorous Training is organized to make sure that our outbound employees are well versed in meeting your goals</li>
          <li>High-quality infrastructure at SSM makes sure that the probability of system breakdowns is nearly zero</li>
        </ul>
        
      </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Why Choose Us -->
      <div class="hed fsmph" style="padding-top: 0 !important;">Why Choose Us?</div>
      <div class="wcu">
        <ul>
          <li>Flexible Pricing Options</li>
          <p>Do not worry when your allocated budget is fixed, but you lack the framework to follow up on your clients, do not worry. Our offshore direct mail follow-up services are built to offer you a customized solution based on factors such as the volume of the emails, project complexity, industry, etc.</p>
          <li>100% Information Security</li>
          <p>SSM has accomplished ISO/IEC 27001: 2013 certification. This shows our commitment to safeguarding your systems and data from unwanted interruption operations. Our workstations, methods, and delivery centers are foolproof to secure your data from any security mishaps.</p>
          <li>State-of-the-art Infrastructure</li>
          <p>At SSM, our direct mail follow-up specialists leverage ultramodern infrastructure, tools, systems, and technologies that allow them to achieve the goals within the stipulated time. Moreover, our offices have 100% uninterrupted network facilities, sophisticated email marketing automation tools, etc.</p>
          <li>High Quality</li>
          <p>When you decide on outsourcing direct mail follow-up services to us, you can rest assured that you will receive the best-quality customer follow-up services to help you reach your targeted audience.</p>
          <li>24/7 Availability</li>
          <p>Our team of email marketing specialists and call center representatives is available 24/7, allowing you to raise any query at any time of the day or night. We work on all the time zones that will enable us to reduce the response time significantly.</p>
          <li>Experienced Team</li>
          <p>We only hire the best marketing personnel. We have experienced executives who provide direct mail follow-up services. So, when you outsource direct mail follow-up services to us, you can be sure that you will get promising leads.</p>
          <li>Ease Of Scalibility</li>
          <p>We have enough resources to scale up or down your business requirements. Our solutions can help you penetrate the untapped market and improve your growth rate with no extra expense in terms of infrastructure or resources.</p>
        </ul>
        <p style="margin-top: 2vw; color: #C4C800; font-family: 'Roboto-Serif';">Contact us for outbound call center outsourcing services and we will get in touch with you within 24 hours.</p>
      </div>
    </div>

    <div class="service-desk-solutions">
      <div class="bus-ser">
        <div class="bus-ser-l">
            <span>
                <p>SERVICE DESK SOLUTIONS</p>
                <a href="/contact" class="bus-ser-btn">CONSULT NOW</a>
            </span>
        </div>
        <div class="bus-ser-r"><img src="/assets/images/pikaso_reimagine_digital-painting-call-center-service-bold-and-slim 1.webp" alt="bus-ser-img"></div>
      </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Call Center Services -->
      <div class="hed fsmph" style="padding-top: 0 !important;">WHAT DO WE OFFER AS<span style="color: #C4C800; font-family: 'Roboto-Serif';"> SERVICE DESK </span> SOLUTION?</div>
      <div class="occs">
        <ul>
          <li>Managing one or more customer service or service desk functions</li>
          <li>Acting as a point of contact to support service users and customers reporting issues, requesting information, access, or other services.</li>
          <li>Delivering customer service through multiple channels including human, digital, self-service, and automated</li>
          <li>Help desk solutions with non-technical skills like communication, customer service, problem solving</li>
          <li>Customer service skills such as empathy, incident analysis and prioritization, effective communication, and emotional intelligence.</li>
          <li>Routing floating tickets to correct team</li>
          <li>Acknowledging floating tickets</li>
          <li>(to provide authenticity and attention)</li>
          <li>Engaging concerned teams (to keep track of time and progress)</li>
          <li>Keep Customer engaged to save SLA(Service Level Agreement) Join Us now!</li>
        </ul>
      </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Outbound Call Center Services -->
      <div class="hed fsmph" style="padding-top: 0 !important;"><span style="color: #C4C800; font-family: 'Roboto-Serif';">LEVEL 1 </span> (First Point of Contact)</div>
      <div class="occs">
        <ul>
          <li>Receives and handles requests for service, following agreed procedures.</li>
          <li>Promptly allocates calls as appropriate.</li>
          <li>Logs incidents and service requests and maintains relevant records.</li>
          <li>Identifies and classifies incident types and service interruptions.</li>
          <li>Records incidents cataloging them by symptom and resolution.</li>
          <li>Acts under guidance to record and track reliability data for your services <a href="/contact-us">Join Us now!</a></li>
        </ul>
      </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Our Expertise Area -->
      <div class="hed fsmph" style="padding-top: 0 !important;"><span style="color: #C4C800; font-family: 'Roboto-Serif';">LEVEL 1.5 </span>  (Also act as SPOC(Single Point of Contact))</div>
      <div class="occs">
        <ul>
          <li>Systematically interprets user problems and identifies solutions and possible side effects.</li>
          <li>Uses experience to address user problems and interrogates database for potential solutions.</li>
          <li>Escalates complex or unresolved incidents.</li>
          <li>Records and tracks issues from outset to conclusion.</li>
          <li>During change, acts systematically to respond to day by day operational needs and react to them, avoiding service disruptions and maintaining coherence to (SLA) and information security requirements.</li>
          <li>Responds to common requests for service by providing information to enable fulfilment. Promptly allocates unresolved calls as appropriate.</li>
          <li>Maintains records, informs users about the process and advises relevant persons of actions taken. <a href="/contact-us">Join Us now!</a></li>
        </ul>
      </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Your Benefits In Outsourcing Outbound BPO Service -->
      <div class="hed fsmph" style="padding-top: 0 !important;"><span style="color: #C4C800; font-family: 'Roboto-Serif';">Level 5 </span>(Manager role)</div>
      <div class="occs">
        <ul>
          <li>Responsible for day-to-day management, resource planning and work allocation to meet agreed service levels.</li>
          <li>Specifies, agrees and applies standards.</li>
          <li>Ensures that tracking and monitoring of performance of service delivery through all channels is carried out, metrics and reports are analyzed, and issues are resolved.</li>
          <li>Drafts and maintains policy, standards and procedures for the customer service or service desk functions.</li>
          <li>Ensures that the service catalog is complete and current. <a href="/contact-us">Join Us now!</a></li>
        </ul>
      </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Your Benefits In Outsourcing Outbound BPO Service -->
      <div class="hed fsmph" style="padding-top: 0 !important;"><span style="color: #C4C800; font-family: 'Roboto-Serif';">Level 6 </span>(Department head)</div>
      <div class="occs pbph">
        <ul>
          <li>Responsible for day-to-day management, resource planning and work allocation to meet agreed service levels.</li>
          <li>Specifies, agrees and applies standards.</li>
          <li>Ensures that tracking and monitoring of performance of service delivery through all channels is carried out, metrics and reports are analyzed, and issues are resolved.</li>
          <li>Drafts and maintains policy, standards and procedures for the customer service or service desk functions.</li>
          <li>Ensures that the service catalog is complete and current. <a href="/contact-us">Join Us now!</a></li>
        </ul>
      </div>
    </div>
    <div class="network-support-service">
      <div class="bus-ser">
        <div class="bus-ser-l">
            <span>
                <p>NETWORK SUPPORT SERVICE</p>
                <a href="/contact" class="bus-ser-btn">CONSULT NOW</a>
            </span>
        </div>
        <div class="bus-ser-r"><img src="/assets/images/pikaso_reimagine_digital-painting-call-center-service-bold-and-slim 1.webp" alt="bus-ser-img"></div>
      </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Call Center Services -->
      <div class="hed fsmph" style="padding-top: 0 !important;"><span style="color: #C4C800; font-family: 'Roboto-Serif';">NETWORK SUPPORT </span> SERVICES</div>
      <div class="occs">
        <p>
          Network support engineers focus on both user needs and system requirements in order to design, set-up and maintain businesses computer networks. Whether it’s done in-house or for clients, engineers will gather data on systems, routers, and other hardware in order to build and manage fully operational networks.
        </p>
        <ul>
          <li>Router support (Legacy and SDWAN including Session bases routers)</li>
          <li>Switches support</li>
          <li>Troubleshooting and Installation</li>
          <li>Voice guidance to end user and client help desk </li>
          <li>Implementing Emulator to make it easy to guide customer</li>
          <li>Warranty Support and Expired Warranty support</li>
          <li>VMWare Velocloud Support</li>
        </ul>
      </div>


      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Outbound Call Center Services -->
      <div class="hed fsmph" style="padding-top: 0 !important;"><span style="color: #C4C800; font-family: 'Roboto-Serif';">NETWORK OPERATIONS </span> OFFERINGS</div>
      <div class="occs">
        <ul>
          <li>Assisting and providing consultancy services to clients (should it be required)</li>
          <li>Supervising and ensuring there is an optimal level of technical backup at all times</li>
          <li>Develop and maintain IT networks</li>
          <li>Analyze, troubleshoot, and maintain computer networks</li>
          <li>Monitor network performance, optimize server capacity, and secure networks and data.</li>
          <li>Repair network errors at client locations and perform network upgrades</li>
          <li>Provide technical help directly to users</li>
          <li>Performing troubleshooting on all programs when required <a href="/contact-us">Join Us now!</a></li>
        </ul>
      </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Our Expertise Area -->
      <div class="hed fsmph" style="padding-top: 0 !important;">TASKS INVOLVED IN <span style="color: #C4C800; font-family: 'Roboto-Serif';"> NETWORK OPERATIONS</div>
        <div class="occs">
          <ul>
            <li>Collaborating with the IT department on the deployment and maintenance of network technologies.</li>
            <li>Testing the exchange of data between computers, servers, modems, and routers.</li>
            <li>Installing, configuring, and updating network software, as well as maintaining hardware and network devices.</li>
            <li>Performing diagnostic tests and repairs, as well as developing data archiving, backup, and retrieval procedures.</li>
            <li>Optimizing server capacity to keep up with demand in online traffic. <a href="/contact-us">Join Us now!</a></li>
          </ul>
        </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Your Benefits In Outsourcing Outbound BPO Service -->
      <div class="hed fsmph" style="padding-top: 0 !important;">Our NETWORK ENGINEERS Are Instilled With Exceptional Skills</div>
      <div class="occs pbph">
        <ul>
          <li>Communication skills - in order to work with the correct teams to resolve problems, you’re going to need to have strong communication skills. </li>
          <li>Problem-solving skills - a lot of the role revolves around being able to diagnose and solve problems, so this is an essential skill for those looking for a career in Network Support.</li>
          <li>Computer and networking skills - it goes without saying that you’re going to need to know all there is know about the systems you’re using, which is why computer and networking skills are so important.</li>
          <li>Experienced as a network support technician.</li>
          <li>In-depth knowledge of network infrastructure, architecture and connectivity</li>
          <li>Superb analytical and problem-solving skills.</li>
          <li>Exceptional organizational and time management skills.</li>
          <li>Excellent interpersonal, communication, and collaboration skills.</li>
          <li>Willingness to travel to client locations.</li>
          <li>Availability to perform urgent network repairs outside of business hours.</li>
        </ul>
        
      </div>

    </div>
    <div class="technical-support">
      <div class="bus-ser">
        <div class="bus-ser-l">
            <span>
                <p>L1/1.5/TECHNICAL SUPPORT</p>
                <a href="/contact" class="bus-ser-btn">CONSULT NOW</a>
            </span>
        </div>
        <div class="bus-ser-r"><img src="/assets/images/pikaso_reimagine_digital-painting-call-center-service-bold-and-slim 1.webp" alt="bus-ser-img"></div>
      </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Call Center Services -->
      <div class="hed fsmph" style="padding-top: 0 !important;"><span style="color: #C4C800; font-family: 'Roboto-Serif';">L1/1.5/TECHNICAL SUPPORT </span> SOLUTION</div>
      <div class="ccs">
        <p>L1 support typically includes individuals that have very limited technical expertise. L1 support logs, categorizes, prioritizes, tracks, and routes (i) incidents reported by users or (ii) alarms raised by monitoring tools. L1 is intended to be the first to acknowledge an incident.</p>
        <p>To successfully operate an IT support operation, whether within an enterprise or within a service provider organization on behalf of Clients, it is critical to be clear on levels of support related to: Capabilities and responsibilities of the talent involved in providing support and Levels of incident or request treatment related to priority, urgency, escalation treatment and service level agreements (SLAs).</p>
        <p>Scenario: If you have ever tried resolving a technical issue on your own, you understand the value of technical support - the service that supports users of technology products or services. IT technical support officers monitor and maintain the computer systems and networks of an organization. They take ownership of customer issues that are reported and resolve the challenges.  Tech support functions, also known as help desk or service desk, include researching, diagnosing, troubleshooting, and identifying solutions to resolve system issues. Technical support officers follow standard procedures for proper escalation of unresolved issues to the appropriate internal teams. The goal is to resolve issues in the fastest and most effective way.</p>
      </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Outbound Call Center Services -->
      <div class="hed fsmph" style="padding-top: 0 !important;">TASKS LIKE BELOW ARE INVOLVED</div>
      <div class="occs">
        <ul>
          <li>Answer Customer Calls, Emails and Chats</li>
          <li>Creating and acknowledging proactive and reactive tickets</li>
          <li>Assisting user with L1 and L1.5 Support</li>
          <li>Engaging Concerned teams for Out of Scope issues</li>
          <li>Working with Service Providers and scheduling bridge with customers for early resolution</li>
          <li>Taking complete ownership of tickets and resolving issues within SLA</li>
        </ul>
      </div>

      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Our Expertise Area -->
      <div class="hed fsmph" style="padding-top: 0 !important;"><span style="color: #C4C800; font-family: 'Roboto-Serif';">L1 – First Line Support</span>: Telephone helpdesk or First Point of Contact</div>
      <div class="occs">
        <p>This support level receives inbound requests through channels like phone, Web forms, email, chat, or other means based on the documented agreement with the Client. L1 support typically includes individuals that have very limited technical expertise. L1 support logs, categorizes, prioritizes, tracks, and routes (i) incidents reported by users or (ii) alarms raised by monitoring tools. L1 is intended to be the first to acknowledge an incident. L1 support tracks tickets until successfully resolved. L1 engineers can implement basic, documented break-fix tasks along the lines of following a cookbook recipe. L1 personnel will typically escalate to an L2 resource and follow documented escalation procedures, again, like following a cookbook recipe. Depending on the vendor, L1 technicians will have from 0 to 4 years of prior relevant experience. L1 engineers generally have relevant experience.</p>
      </div>


      <div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

      <!-- Your Benefits In Outsourcing Outbound BPO Service -->
      <div class="hed fsmph" style="padding-top: 0 !important;"><span style="color: #C4C800; font-family: 'Roboto-Serif';">L1.5 – Second Line Support</span>: (Also First Point of Contact if collaborated with Network Support or Service Desk)</div>
      <div class="occs pbph">
        <p>
          These technicians have more experience than L1 support technicians and manage incidents raised by the L1s or as agreed in documented SLA (Service Level Agreement) timelines. L1.5 technicians follow documented processes and workflows provided by Clients or higher level support representatives, vendors, product management, etc. They are expected to escalate to the next level when documentation is insufficient to complete the tasks or do not solve the incident. L1.5s usually have and maintain a Run-Book which they can use for immediate resolutions. They collaborate with any other support or dependency groups in case the incident has a linkage to other support personnel or outside vendors. L1.5 engineers will typically escalate to next level resource and follow documented escalation procedures. L1.5 engineers generally have 4 or more years of experience on a specific technology platform.
        </p>
      </div>

    </div>
</div>
<!-- consent banner -->
<div id="consent-banner" style="display: none;">
  <h2 style="margin: 2vw 2vw 0 2vw;">We care about your privacy</h2>
  <div>
      <p style="color: #ccc;">
          We use cookies to ensure that we give you the best experience on our website. By clicking "Accept All", you agree to the storing of cookies on your device to give you the most optimal experience using our website.<a style="color: #C4C800" href="/privacy-policy/" target="_blank"> See our Privacy Policy for more info.</a>
      </p>
      <p style="display: flex; gap: 3vw;">
          <a id="consent-button" class="btn" href="javascript:consentAll();">Accept all cookies</a>
          <a id="consent-button-essential" class="btn" href="javascript:essentialOnly();">Essential only</a>
      </p>
  </div>
</div>
<!-- Call Section -->
<div class="contact-bar">
  <div class="number">
    <img src="/assets/images/call.png" loading="lazy" alt="" />
    <div class="cn">
      <a href="tel:18005710605">1800-571-0605</a>
      <a href="tel:+13211255890">+1321-125-5890</a>
    </div>
  </div>
  <div class="chat">
    <img src="/assets/images/chat.png" loading="lazy" alt="" />
    <a
      href="https://wa.me/9457979134?text=Let%27s%20Talk%20Web%20And%20Marketing%20%5B5%25%20Off%5D"
      >Chat With Us</a
    >
  </div>
  <div class="face chat">
    <a href="https://calendly.com/shashisales">Fix A Face-2-Face</a>
  </div>
  <div class="mail">
    <img src="/assets/images/mail.png" loading="lazy" alt="" />
    <a
      href="mailto:info@shashisales.com?subject=Service%20Inquiry&body=Hello,%0D%0A%0D%0AI%20am%20interested%20in%20your%20services.%20Here%20are%20my%20details:%0D%0A%0D%0AName:%20%0D%0APhone%20Number:%20%0D%0ABusiness%20Name:%20%0D%0ALocation:%20%0D%0AService%20Required:%20%0D%0ABudget:%20%0D%0A%0D%0AThank%20you!"
    >
      info@shashisales.com</a
    >
  </div>
</div>

<script>
  function showService(service, element) {
    const services = document.querySelectorAll('.service-container > div');
    services.forEach(s => {
      s.style.display = s.classList.contains(service) ? 'block' : 'none';
    });

    const menuItems = document.querySelectorAll('.service-menu li');
    menuItems.forEach(item => {
      item.classList.remove('selected');
    });

    element.classList.add('selected');
  }

  document.addEventListener('DOMContentLoaded', () => {
    showService('call-center-services', document.querySelector('.service-menu .selected'));
  });
</script>

<script>
  function consentAll()
{
gtag('consent', 'update', allGranted);
createCookie('google-consent', true, 30);
document.getElementById('consent-banner').style = 'display: none;';
dataLayer.push({'event': 'consent-updated'});
}
function essentialOnly() {
    gtag('consent', 'update', essentialOnlyGranted);
    createCookie('google-consent', true, 30);
    document.getElementById('consent-banner').style = 'display: none;';
    dataLayer.push({'event': 'consent-updated'});
  }

function createCookie(name, value, days) {
  if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      var expires = "; expires=" + date.toGMTString();
  }
  else var expires = "";               

  document.cookie = name + "=" + value + expires + "; path=/";
}

function readCookie(name) {
  var nameEQ = name + "=";
  var ca = document.cookie.split(';');
  for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
  }
  return null;
}

document.addEventListener("DOMContentLoaded", function() {
if(readCookie('google-consent') == null)
  document.getElementById('consent-banner').style = '';
});
</script>
