<% layout("/layouts/boilerplate") %>

<style>
    .bl {
        background-color: #000;
    }
</style>


<div class="contact-main">
    <div class="nav2">
        <!-- <img class="sh" src="/assets/images/blur-img.png" alt="blur-img"> -->
        <!-- <div class="sh">.</div> -->
        <div class="nav2-left">
            <div class="nav2-left-inside">
                <div class="fon-s-4">FACING ISSUES?
                    CONTACT SUPPORT
                    (10AM - 7PM)</div>
                <div><button>Chat With Support</button></div>
            </div>
        </div>
        <div class="nav2-right">
            <div class="imgr"><img src="/assets/images/contact-img2.png" alt="contact-img2"></div>
            <div class="ad-img-out">
                <img class="ad-img" src="/assets/images/contact-img1.gif" alt='contact-img1'></img>
            </div>
        </div>
    </div>
    
    <!-- Contact Us form -->
    <div class="contact-container">
        <div class="contact-left">
            <div class="contact-left-in">
                <form action="/submit-form" method="POST">
                    <div class="fila">
                        <div><input type="text" id="firstName" placeholder="First Name" name="firstName" required></div>
                        <div><input type="text" id="lastName" placeholder="Last Name" name="lastName" required></div>
                    </div>
                    <div class="ph-num">
                        <input type="tel" class="phone" id="phone" placeholder="Phone Number" name="tel" required>
                    </div>
                    
                    <div class="fila"><input type="email" id="email" placeholder="Email Address" name="email" required></div>
                    <div class="ser-h"><textarea id="service" name="service" placeholder="Service" required></textarea>
                    </input></div>
                    
                    <div class="fila">
                        <div><input type="text" placeholder="City" id="city" name="city" required></div>
                        <div><input type="text" placeholder="Company" id="company" name="company"></div>
                    </div>
                    
                    <div class="form-submit"><input type="submit" value="Submit"></div>
                </form>
            </div>
        </div>
        <div class="contact-right">
            <div>
                <h2>CONTACT US</h2>
                <p>Thank you for expressing interest in our services.
                    Tell us about your outsourcing requirements, and our team will contact you within 24 hours.At SSM, we take your privacy seriously and use your personal information only to provide customized services and a great site experience. Privacy Policy
                </p>
                <p>Email : info@shashisales.com</p>
            </div>
        </div>
    </div>
    
    
    <!-- Pay Us -->
    <div class="pay-container">
        <h1>Pay Us</h1>
        <div class="pay-container-in">
            <div class="pay-card">
                <h3>INDIA</h3>
                <p>Pay With Debit\Credit/UPI</p>
                <div><button>PAY NOW</button></div>
            </div>
    
            <div class="pay-card">
                <h3>INTERNATIONAL</h3>
                <p>Pay With Debit\Credit/Pay Pal</p>
                <div><button>PAY NOW</button></div>
            </div>
    
            <div class="pay-card">
                <h3>WIRE TRANSFER</h3>
                <p>Wire Transfer/NEFT/ RTGS</p>
                <div><button>PAY NOW</button></div>
            </div>
        </div>
        <div class="pay-end">Pay With https://www.designdot.co.in/payment.html</div>
    </div>
</div>
