<% layout("/layouts/boilerplate") %>

<style>
    .bl {
        background-color: #000;
    }
</style>


<div class="contact-main">
    <div class="nav2">
        <!-- <img class="sh" src="/assets/images/blur-img.png" alt="blur-img"> -->
        <!-- <div class="sh">.</div> -->
        <div class="nav2-left">
            <div class="nav2-left-inside">
                <div class="fon-s-4">FACING ISSUES?
                    CONTACT SUPPORT
                    (10AM - 7PM)</div>
                <div class="rfmv"><a href="https://wa.me/9457979134?text=Require%20Support
                    ">Chat With Support</a></div>
            </div>
        </div>
        <div class="nav2-right">
            <div class="imgr"><img src="/assets/images/contact-img2.webp" alt="contact-img2"></div>
            <div class="ad-img-out">
                <video autoplay loop muted>
                    <source src="/assets/images/contact-img1.webm" type="video/webm">
                    Your browser does not support the video tag.
                </video>
                <!-- <video class="ad-img" src="/assets/images/contact-img1.webm" alt='contact-img1'></video> -->
            </div>
        </div>
    </div>
    
    <!-- Contact Us form -->
    <div class="contact-container">
        <div class="contact-left">
            <div class="contact-left-in">
                <form action="/submit-quote" method="POST">
                    <div class="fila">
                        <div><input type="text" id="firstName" placeholder="First Name" name="firstName" required></div>
                        <div><input type="text" id="lastName" placeholder="Last Name" name="lastName" required></div>
                    </div>
                    <div class="ph-num">
                        <input type="tel" class="phone" id="phone" placeholder="Phone Number" name="tel" required>
                    </div>
                    
                    <div class="fila"><input type="email" id="email" placeholder="Email Address" name="email" required></div>
                    <div class="ser-h"><textarea id="service" name="service" placeholder="Service" required></textarea>
                    </input></div>
                    
                    <div class="fila">
                        <div><input type="text" placeholder="City" id="city" name="city" required></div>
                        <div><input type="text" placeholder="Company" id="company" name="company"></div>
                    </div>
                    
                    <div class="form-submit"><input type="submit" value="Submit"></div>
                </form>
            </div>
        </div>
        <div class="contact-right">
            <div>
                <h2>CONTACT US</h2>
                <p>Thank you for expressing interest in our services.
                    Tell us about your outsourcing requirements, and our team will contact you within 24 hours.At SSM, we take your privacy seriously and use your personal information only to provide customized services and a great site experience. Privacy Policy
                </p>
                <p>Email : info@shashisales.com</p>
            </div>
        </div>
    </div>
    
    
    <!-- Pay Us -->
    
    <div class="pay-container">
        <div class="hide-cont">
            <div class="wire-transform">
                <div>
                    <img id="copyButton1" src="/assets/images/Group.svg" alt="copy-text">
                    <p>IDBI BANK ACT NO</p>
                    <P>1029651100001106</P>
                    <P>IFSC-IBKL0001029</P>
                    <P>INDUSTRIAL DEVELOPMENT</P>
                    <P>BANK OF INDIA</P>
                    <P>SWIFT: IBKLINBB015</P>
                </div>
                <!-- <div class=""></div> -->
                <div>
                    <img id="copyButton2" src="/assets/images/Group.svg" alt="copy-text">
                    <p>BOB ACT NO</p>
                    <P>42390200000106</P>
                    <P>IFSC-BARBOBAIRHA</P>
                    <P>BANK OF BARODA</P>
                </div>
            </div>
        </div>



        <h1>Pay Us</h1>
        <div class="pay-container-in">
            <div class="pay-card">
                <h3>INDIA</h3>
                <p>Pay With Debit/Credit/UPI</p>
                <div><a href="/phonepe-form">PAY NOW</a></div>
            </div>
    
            <div class="pay-card">
                <h3>US, GULF, AUSTRALIA, ARGENTINA</h3>
                <p>Pay With Debit/Credit/Pay Pal</p>
                <div><a href="/pay-via-paypal">PAY NOW</a></div>
            </div>
    
            <div class="pay-card">
                <h3>WIRE TRANSFER</h3>
                <p>Wire Transfer/NEFT/ RTGS</p>
                <div id="display-cont"><button>PAY NOW</button></div>
            </div>
        </div>
        <!-- <div class="pay-end">Pay With https://www.designdot.co.in/payment.html</div> -->
    </div>
</div>


<div class="footer-s1 address-bar">
    <div>
        <ul>
            <li class="fsfoot-h">Florida Office Address:</li>
            <li class="sg">Shashi Consultancy Services LLC 1317 Edge water Dr</li>
            <li class="sg">#5714 Orlando, FL 32804</li>
            <li class="sg">EIN +13212185890 </li>
            <li class="sg">email: info@shashisales.com</li>
        </ul>
    </div>
    <div>
        <ul>
            <li class="fsfoot-h">Noida Address:</li>
            <li class="sg">ATS Bouquet, Office # 606, 6th Floor, Block A, Sector 132, </li>
            <li class="sg">Noida, Uttar Pradesh-201304, IN</li>
            <li class="sg">Phone: 1800-571-0605</li>
            <li class="sg">email: info@shashisales.com</li>
        </ul>
    </div>
    <div>
        <ul>
            <li class="fsfoot-h">HQ Office Address :</li>
            <li class="sg">Shashi Sales & Marketing 314/11B/1,Rambagh,</li>
            <li class="sg">Prayagraj, U.P - 211003, IN</li>
            <li class="sg">Phone: 1800-571-0605</li>
            <li class="sg">email: info@shashisales.com</li>
        </ul>
    </div>
</div>