
<% layout("/layouts/boilerplate") %>
<link rel="preload" href="/assets/images/backg-desi.webp" as="image">
<style>
    .bl {
        background-color: #000;
    }
    .design-section-one-left h1{
        line-height: 1.5;
        font-size: 3.7vw;
        font-family: "Roboto-Serif";
    }
</style>
<!-- Design Section One -->
<div class="design-section-one">
    <div class="back-desi"></div>
    <div class="design-section-one-left">
        <div>
            <P><h1>CREATING EXCITING WEBSITES THAT GENERATE PROFIT</h1></P>
            <button><a href="/contact-us">BOOK NOW</a></button>
        </div>
    </div>
    <div class="design-section-one-right">
        <div class="blur-img"><img src="/assets/images/contact-img2.webp" alt="blur image"></div>
        <div class="design-section-one-right-in"><img src="/assets/images/VR11 8.webp" alt="VR Human Image"></div>
    </div>
</div>


<!-- Design Section Two -->
<div class="design-section-two">
    <div class="pdlr df-jc-ac" style="height: 36vw;">
        <div>
            <p class="animate-on-scroll fsani txt-ali">website</p>
            <p class="df-jc-ac hidde">Don't let a poor UI/UX design be the bottleneck of your online growth! We specialize in crafting custom UI/UX digital experiences that not only look beautiful but feel intuitive, engaging, and user-friendly, turning visitors into loyal customers.</p>
        </div>
        <p><img src="/assets/images/design-sec2-img.webp" alt="VR Human Image 2"></p>
        <div>
            <p class="animate-on-scroll fsani">makeover</p>
            <p class="change-color hidde tbl">Elevate UX With <span style="color: #C4C800;">Our Custom UI Design</span></p>
            <button class="hidde"><a href="/contact-us">BOOK NOW</a></button>
        </div>
    </div>
    <div class="for-mob">
        <p class="change-color tbl">Elevate UX With <span style="color: #C4C800;">Our Custom UI Design</span></p>
        <p class="df-jc-ac">Don't let a poor UI/UX design be the bottleneck of your online growth! We specialize in crafting custom UI/UX digital experiences that not only look beautiful but feel intuitive, engaging, and user-friendly, turning visitors into loyal customers.</p>
        <p><button><a href="/contact-us">BOOK NOW</a></button></p>
    </div>
</div>



<!-- Design Animation Section-->
<div class="roc-sec bl" id="roc-sec">
    <div class="rocket" id="rocket"><img src="/assets/images/rocket.webp" alt="rocket"></div>
    <div class="roc-sec-1">
        <div class="roc-card">
            <p>Web & Digital Design</p>
            <p>In the digital age, a compelling online presence is crucial. Our web and digital design services ensure your website and online content are both beautiful and functional. We create user-friendly, responsive designs that enhance user experience and drive engagement.</p>
        </div>
    </div>
    <div class="roc-sec-2">
        <div class="roc-card">
            <p>Logo & Brand Identity</p>
            <p>In the digital age, a compelling online presence is crucial. Our web and digital design services ensure your website and online content are both beautiful and functional. We create user-friendly, responsive designs that enhance user experience and drive engagement.</p>
        </div>
    </div>
    <div class="roc-sec-3">
        <div class="roc-card">
            <p>Marketing Materials</p>
            <p>In the digital age, a compelling online presence is crucial. Our web and digital design services ensure your website and online content are both beautiful and functional. We create user-friendly, responsive designs that enhance user experience and drive engagement.</p>
        </div>
    </div>
</div>





<!-- Design Section three -->
<div class="design-section-three">
    <div class="hed">INSIGHTS WITH <span class="ffrs" style="color: #C4C800;">CREATIVITY</span></div>
    <div class="design-section-three-in">
        <div class="df-jc-ac">
            <div>
                <p class="ffrs">01.</p>
                <P><span class="ffrs" style="color: #C4C800;">RESEARCH</span></P>
            </div>
        </div>
        <div>
            <p>UX Research</p>
            <p>This is the launchpad for every project. Here, we analyze your current product, competitors, and target market. We then bring all these strands together to create a site map and a list of UX features that can be actioned.</p>
        </div>
        <div>
            <p>UX Strategy</p>
            <p>The scope of a UX strategy ranges from a single product, service, or feature, to multiple products and services. A strong strategy ensures that user-centered insights are integrated into the business plan.</p>
        </div>
    </div>
    <div class="design-section-three-in">
        <div class="df-jc-ac">
            <div>
                <p class="ffrs">02.</p>
                <P><span class="ffrs" style="color: #C4C800;">EXPERIENCE DESIGN</span></P>
            </div>
        </div>
        <div>
            <p>Wireframes</p>
            <p>This stage helps us grasp the logic and structure of the future service. We create detailed prototypes for each user flow and seek client approval. This ensures clarity and alignment before development begins.</p>
        </div>
        <div>
            <p>Clickable Prototypes</p>
            <p>With a clickable prototype, we can demonstrate and test the website's behavior under near-realistic conditions. This allows us to identify and resolve issues early on. It ensures the final product meets user expectations .</p>
        </div>
    </div>
    <div class="design-section-three-in bm">
        <div class="df-jc-ac">
            <div>
                <p class="ffrs">03.</p>
                <P><span class="ffrs" style="color: #C4C800;">INTERFACE DESIGN</span></P>
            </div>
        </div>
        <div>
            <p>Moodboard</p>
            <p>Our team creates mood boards and coordinates with the client to define the visual direction early on. This ensures we choose the best solution and avoid major revisions later. It streamlines the process and saves time.</p>
        </div>
        <div>
            <p>Design Conception</p>
            <p>The scope of a UX strategy ranges from a single product, service, or feature, to multiple products and services. A strong strategy ensures that user-centered insights are integrated into the business plan.</p>
        </div>
    </div>



    <div class="design-section-three-end">
        <span class="ar1 ar">
            <p>wireframing</p>
            <p>understand the logic</p>
        </span>
        <span class="ar2 ar">
            <p>Moodboard</p>
            <p>understand the logic</p>
        </span>
        <span class="ar3 ar">
            <p>user research</p>
            <p>understanding user</p>
        </span>
        <span class="ar4 ar">
            <p>Design-conception</p>
            <p>understand the logic</p>
        </span>
        <div class="design-section-three-end-left">
            <div style="aspect-ratio: 811/425;" id="ar1">
                <img src="/assets/images/ar1.webp" loading="lazy" alt="ar1">
            </div>
            <div style="aspect-ratio: 558/524;" id="ar2">
                <img src="/assets/images/ar2.webp" loading="lazy" alt="ar2">
            </div>
        </div>
        <div class="design-section-three-end-right">
            <div style="aspect-ratio: 669/545;" id="ar3">
                <img src="/assets/images/ar3.webp" loading="lazy" alt="ar3">
            </div>
            <div style="aspect-ratio: 798/336;" id="ar4">
                <img src="/assets/images/ar4.webp" loading="lazy" alt="ar4">
            </div>
        </div>
    </div>
</div>

<div class="design-section-four">
    <div class="hed">TRANSFORM YOUR VISION INTO <span style="color: #C4C800;">STUNNING DESIGN</span></div>
    <div class="design-section-four-in">
        <div class="design-section-card">
            <p>Logo Design</p>
            <p>Crafting distinctive and memorable logos that perfectly capture and define your brand's identity, ensuring your business stands out and leaves a lasting impression on your audience</p>
        </div>
        <div class="design-section-card">
            <p>Brand Identity</p>
            <p>Developing comprehensive branding materials, including color schemes, typography, and brand guidelines, to create a cohesive and professional visual identity for your business</p>
        </div>
        <div class="design-section-card">
            <p>Print Design</p>
            <p>Designing brochures, flyers, business cards, and other print materials to help you effectively market your brand and leave a lasting impression on your target audience</p>
        </div>
        <div class="design-section-card">
            <p>Digital Graphics</p>
            <p>Creating stunning visuals for websites, social media platforms, and digital marketing campaigns, elevating your online presence and captivating your audience across all digital channels</p>
        </div>
        <div class="design-section-card">
            <p>Packaging Design</p>
            <p>Designing attractive packaging solutions that not only stand out on the shelf but also communicate your brand story effectively, enticing customers to engage and make a purchase</p>
        </div>
        <div class="design-section-card">
            <p>Illustrations</p>
            <p>Crafting custom illustrations meticulously tailored to your brand's unique identity and vision, ensuring every detail reflects your brand's personality and resonates with your audience.</p>
        </div>
    </div>
</div>


<section class="page2">
        <div class="divider">
            <img src="/assets/images/page2.webp" alt="">
        </div>
    
        <div class="logo-box1">
            <div class="bar">
              <div class="inner-bar">
                <img src="/assets/images/l1.webp" alt="Hello">
                <img src="/assets/images/l2.webp" alt="Hello">
                <img src="/assets/images/l3.webp" alt="Hello">
                <img src="/assets/images/l4.webp" alt="Hello">
                <img src="/assets/images/l5.webp" alt="Hello">
                <img src="/assets/images/l6.webp" alt="Hello">
                <img src="/assets/images/l7.webp" alt="Hello">
                <img src="/assets/images/l8.webp" alt="Hello">
                <img src="/assets/images/l9.webp" alt="Hello">
                <img src="/assets/images/l10.webp" alt="Hello">
                <!-- duplicate the images to create the infinite effect -->
                <img src="/assets/images/l1.webp" alt="Hello">
                <img src="/assets/images/l2.webp" alt="Hello">
                <img src="/assets/images/l3.webp" alt="Hello">
                <img src="/assets/images/l4.webp" alt="Hello">
                <img src="/assets/images/l5.webp" alt="Hello">
                <img src="/assets/images/l6.webp" alt="Hello">
                <img src="/assets/images/l7.webp" alt="Hello">
                <img src="/assets/images/l8.webp" alt="Hello">
                <img src="/assets/images/l9.webp" alt="Hello">
                <img src="/assets/images/l10.webp" alt="Hello">
              </div>
            </div>
          </div>
        <div class="logo-box2">
            <div class="img"><img src="/assets/images/BF1.webp" alt="BF1"></div>
            <div class="img"><img src="/assets/images/BF2.webp" alt="BF2"></div>
            <div class="img"><img src="/assets/images/BF3.webp" alt="BF3"></div>
        </div>
    
    </section>

<div class="pdbm"></div>

<!-- consent banner -->
<div id="consent-banner" style="display: none;">
    <h2 style="margin: 2vw 2vw 0 2vw;">We care about your privacy</h2>
    <div>
        <p style="color: #ccc;">
            We use cookies to ensure that we give you the best experience on our website. By clicking "Accept All", you agree to the storing of cookies on your device to give you the most optimal experience using our website.<a style="color: #C4C800" href="/privacy-policy/" target="_blank"> See our Privacy Policy for more info.</a>
        </p>
        <p style="display: flex; gap: 3vw;">
            <a id="consent-button" class="btn" href="javascript:consentAll();">Accept all cookies</a>
            <a id="consent-button-essential" class="btn" href="javascript:essentialOnly();">Essential only</a>
        </p>
    </div>
</div>
    <!-- Call Section -->
    <div class="contact-bar">
        <div class="number">
            <img src="/assets/images/call.png" alt="">
            <div class="cn">
                <a href="tel:18005710605">1800-571-0605</a>
                <a href="tel:+13211255890">+1321-125-5890</a>
            </div>
        </div>
        <div class="chat">
            <img src="/assets/images/chat.png" alt="">
            <a href="https://wa.me/9457979134?text=Let%27s%20Talk%20Web%20And%20Marketing%20%5B5%25%20Off%5D">Chat With
                Us</a>
        </div>
        <div class="face chat">
            <a href="https://calendly.com/shashisales">Fix A Face-2-Face</a>
        </div>
        <div class="mail">
            <img src="/assets/images/mail.png" alt="">
            <a
                href="mailto:info@shashisales.com?subject=Service%20Inquiry&body=Hello,%0D%0A%0D%0AI%20am%20interested%20in%20your%20services.%20Here%20are%20my%20details:%0D%0A%0D%0AName:%20%0D%0APhone%20Number:%20%0D%0ABusiness%20Name:%20%0D%0ALocation:%20%0D%0AService%20Required:%20%0D%0ABudget:%20%0D%0A%0D%0AThank%20you!">
                info@shashisales.com</a>
        </div>
    </div>
    <script>
        function consentAll()
    {
      gtag('consent', 'update', allGranted);
      createCookie('google-consent', true, 30);
      document.getElementById('consent-banner').style = 'display: none;';
      dataLayer.push({'event': 'consent-updated'});
    }
    function essentialOnly() {
          gtag('consent', 'update', essentialOnlyGranted);
          createCookie('google-consent', true, 30);
          document.getElementById('consent-banner').style = 'display: none;';
          dataLayer.push({'event': 'consent-updated'});
        }
    
    function createCookie(name, value, days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            var expires = "; expires=" + date.toGMTString();
        }
        else var expires = "";               
    
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
    
    document.addEventListener("DOMContentLoaded", function() {
      if(readCookie('google-consent') == null)
        document.getElementById('consent-banner').style = '';
    });
    </script>