<% layout("/layouts/boilerplate") %>
<style>
    .bl {
        background-color: #000;
    }
    .em-sec-one-left h1{
        justify-content: flex-start;
        line-height: 1.5;
        font-size: 3.5vw;
        font-family: "Roboto-Serif";
    }
</style>

<!-- Email Marketing Section one -->
<div class="em-sec-one">
    <div class="em-sec-one-left">
        <span>
            <h1>EMAIL MARKETING</h1>
            <p>Email marketing is a powerful digital marketing strategy that involves sending emails to prospects and customers. Effective email marketing can convert prospects into customers and turn one-time buyers into loyal, raving fans.</p>
            <p><button><a href="/contact-us">CONTACT NOW</a></button></p>
        </span>
    </div>
    <div class="em-sec-one-right" style="aspect-ratio: 680/514;">
        <img src="/assets/images/em-1.webp" alt="em-1">
    </div>
</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<!-- Email Marketing Section two -->
<div class="em-sec-two">
    <div class="em-sec-two-left" style="aspect-ratio: 680/439;">
        <img src="/assets/images/em-2.webp" alt="em-2">
    </div>
    <div class="em-sec-two-right">
        <span>
            <p>Types Of Emails</p>
            <p>The type of opt-in email you choose depends on your specific call-to-action. For instance, an email designed to build brand loyalty differs from an EDM (electronic direct mail) that features a promotional offer with a deadline or aims to drive product purchases.</p>
        </span>
    </div>
</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<!-- Email Marketing Section three -->
<div class="em-sec-one" style="padding: 0vw 4vw 0vw 4vw;">
    <div class="em-sec-one-left">
        <span>
            <p>Advantages of Email Marketing</p>
            <p>With opt-in email marketing, you can quickly send out marketing messages within a few hours, allowing you to take advantage of short-term offers. This approach also enables you to send personalized communications, such as addressing customers by name and tailoring emails to include relevant products and services. These personalized touches enhance the customer experience and increase the likelihood of conversion.</p>
        </span>
    </div>
    <div class="em-sec-one-right" style="aspect-ratio: 650/650;">
        <img src="/assets/images/Benefits of email marketing 1.webp" alt="Benefit Of Email Marketing">
    </div>
</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<!-- Email Marketing Section four -->
<div class="em-sec-two">
    <div class="em-sec-two-left" style="aspect-ratio: 596/540;">
        <img src="/assets/images/Emails-Companies-Send-by-Type 1.webp" alt="Email-Companies">
    </div>
    <div class="em-sec-two-right">
        <span>
            <p>Campaign Statistics</p>
            <p>Opt-in email campaigns provide detailed tracking data, including metrics such as how many people opened your email and took action. You can also see information about the device used and the time it was viewed. This data is crucial for measuring your return on investment.</p>
        </span>
    </div>
</div>


<!-- Email Marketing Section five -->
<div class="em-sec-one bl" style="color: white; padding: 3vw 4vw 3vw 4vw;">
    <div class="em-sec-one-left">
        <span>
            <p>Legal data use</p>
            <p>Buzzsaw ensures compliance with spam laws and privacy regulations by sending emails on behalf of our clients rather than sharing email addresses and personal information.
                Additionally, we regularly update our data by cross-referencing it with opt-in lists and the Do Not Call Register (DNCR) to maximize the effectiveness of our email campaigns. For more details, please visit our privacy page.</p>
        </span>
    </div>
    <div class="em-sec-one-right" style="aspect-ratio: 670/543;">
        <img src="/assets/images/view-3d-justice-scales 1.webp" loading="lazy" alt="view-3d-justice-scales">
    </div>
</div>

<!-- Email Marketing Section Six -->
<div class="em-sec-six">
    <table>
        <tr>
            <th colspan="3" class="full-width table-bg">Individual Marketing Mediums Pricing</th>
        </tr>
        <tr class="equal-width">
            <th>Volume</th>
            <th>Email</th>
            <th>SMS</th>
        </tr>
        <tr class="equal-width">
            <td style="text-align: start; padding-left: 2vw;">1-50,000</td>
            <td>$0.25</td>
            <td>$0.20</td>
        </tr>
        <tr class="equal-width">
            <td style="text-align: start; padding-left: 2vw;">2-50,000 To 100,000</td>
            <td>$0.23</td>
            <td>$0.18</td>
        </tr>
        <tr class="equal-width">
            <td style="text-align: start; padding-left: 2vw;">3-100001 To 200,000</td>
            <td>$0.21</td>
            <td>$0.16</td>
        </tr>
        <tr class="equal-width">
            <td style="text-align: start; padding-left: 2vw;">4-200,001 To 500,000</td>
            <td>$0.19</td>
            <td>$0.14</td>
        </tr>
        <tr class="equal-width">
            <td style="text-align: start; padding-left: 2vw;">5-500,000+</td>
            <td>$0.17</td>
            <td>$0.12</td>
        </tr>
        <tr>
            <th colspan="3" class="full-width table-bg">Set Up/Admin Fee $350</th>
        </tr>
    </table>
</div>
<!-- consent banner -->
<div id="consent-banner" style="display: none;">
    <h2 style="margin: 2vw 2vw 0 2vw;">We care about your privacy</h2>
    <div>
        <p style="color: #ccc;">
            We use cookies to ensure that we give you the best experience on our website. By clicking "Accept All", you agree to the storing of cookies on your device to give you the most optimal experience using our website.<a style="color: #C4C800" href="/privacy-policy/" target="_blank"> See our Privacy Policy for more info.</a>
        </p>
        <p style="display: flex; gap: 3vw;">
            <a id="consent-button" class="btn" href="javascript:consentAll();">Accept all cookies</a>
            <a id="consent-button-essential" class="btn" href="javascript:essentialOnly();">Essential only</a>
        </p>
    </div>
</div>

<!-- Call Section -->
<div class="contact-bar">
    <div class="number">
        <img src="/assets/images/call.png" alt="">
        <div class="cn">
            <a href="tel:18005710605">1800-571-0605</a>
            <a href="tel:+13211255890">+1321-125-5890</a>
        </div>
    </div>
    <div class="chat">
        <img src="/assets/images/chat.png" alt="">
        <a href="https://wa.me/9457979134?text=Let%27s%20Talk%20Web%20And%20Marketing%20%5B5%25%20Off%5D">Chat With
            Us</a>
    </div>
    <div class="face chat">
        <a href="https://calendly.com/shashisales">Fix A Face-2-Face</a>
    </div>
    <div class="mail">
        <img src="/assets/images/mail.png" alt="">
        <a
            href="mailto:info@shashisales.com?subject=Service%20Inquiry&body=Hello,%0D%0A%0D%0AI%20am%20interested%20in%20your%20services.%20Here%20are%20my%20details:%0D%0A%0D%0AName:%20%0D%0APhone%20Number:%20%0D%0ABusiness%20Name:%20%0D%0ALocation:%20%0D%0AService%20Required:%20%0D%0ABudget:%20%0D%0A%0D%0AThank%20you!">
            info@shashisales.com</a>
    </div>
</div>
<script>
    function consentAll()
{
  gtag('consent', 'update', allGranted);
  createCookie('google-consent', true, 30);
  document.getElementById('consent-banner').style = 'display: none;';
  dataLayer.push({'event': 'consent-updated'});
}
function essentialOnly() {
      gtag('consent', 'update', essentialOnlyGranted);
      createCookie('google-consent', true, 30);
      document.getElementById('consent-banner').style = 'display: none;';
      dataLayer.push({'event': 'consent-updated'});
    }

function createCookie(name, value, days) {
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        var expires = "; expires=" + date.toGMTString();
    }
    else var expires = "";               

    document.cookie = name + "=" + value + expires + "; path=/";
}

function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
}

document.addEventListener("DOMContentLoaded", function() {
  if(readCookie('google-consent') == null)
    document.getElementById('consent-banner').style = '';
});
</script>