<% layout("/layouts/boilerplate") %>



<style>
     .bl {
            background-color: #000;
        }

        .main-page{
            padding-top: 6.5rem;
            padding-inline: 5vw;
        padding-bottom: 5rem;
        }
  
   
        h1 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
        h2 {
            font-size: 2rem;
            margin-top: 2rem;
            margin-bottom: 0.5rem;
        }
        h3 {
            font-size: 1.5rem;
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
        }
        p {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        ul {
            margin-bottom: 1rem;
        }
        li {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
   
</style>

<body>
    
    <div class="main-page">

        <h1>Cancellation & Refund Policy</h1>
        <h3>Last updated on Jan 10th, 2024</h3>
        <p>At Shashi Sales And Marketing, we believe in assisting our customers to the best of our ability. Our cancellation and refund policy reflects our commitment to fairness and transparency.</p>

<h2>Cancellation Requests</h2>
<h3>1. Cancellation Window</h3>
<p>We consider cancellation requests if made within <strong>24 hours</strong> of placing the order.</p>
<p>However, if the orders have already been communicated to vendors/merchants and they have initiated the shipping process, cancellation may not be possible.</p>
<h3>2. Perishable Items</h3>
<p>We do not accept cancellation requests for perishable items such as flowers and edibles.</p>
<p>However, if the delivered product's quality is unsatisfactory, we offer refunds or replacements.</p>

<h2>Damaged or Defective Items</h2>
<h3>1. Reporting Damaged or Defective Items</h3>
<p>If you receive damaged or defective items, promptly report the issue to our Customer Service team.</p>
<p>The request will be entertained once the merchant verifies the issue at their end.</p>
<p>Please report within <strong>24 hours</strong> of receiving the products.</p>
<h3>2. Product Discrepancies</h3>
<p>If the received product does not match what was shown on our site or your expectations, notify our customer service team within <strong>24 hours</strong> of receipt.</p>
<p>Our Customer Service Team will thoroughly investigate your complaint and make an appropriate decision.</p>

<h2>Manufacturer Warranty</h2>
<h3>1. Products with Warranty</h3>
<p>For products covered by a manufacturer's warranty, please refer any complaints directly to the manufacturer.</p>
<p>We encourage you to follow the warranty guidelines provided by the manufacturer.</p>

<h2>Refunds</h2>
<h3>1. Approved Refunds</h3>
<p>If a refund is approved by Shashi Sales And Marketing, it will be processed promptly.</p>
<p>The time for the refund to reach the end customer may vary based on payment methods and banking processes.</p>

<p>We appreciate your trust in Shashi Sales And Marketing. If you have any further questions or need assistance, feel free to reach out to us.</p>
    </div>
</body>