
<% layout("/layouts/boilerplate") %>
<style>
    .bl {
        background-color: #000;
    }
    .seo-section-one-left h1{
        line-height: 1.7;
        font-size: 3vw;
        font-family: "Roboto-Serif";
    }
</style>


<!-- SEO Section One -->
<div class="seo-section-one">
    <div class="seo-section-one-left">
        <div>
            <P><h1>ACHIEVE THE TOP RANK FOR YOUR WEBSITE WITH SUPERIOR QUALITY</h1></P>
            <button><a href="/contact-us">CONSULT NOW</a></button>
        </div>
    </div>
    <div class="seo-section-one-right">
        <div class="blur-img"><img src="/assets/images/contact-img2.png" alt="blur image"></div>
        <div class="seo-section-one-right-in"><img src="/assets/images/seo-img-1.webp" alt="SEO Image"></div>
    </div>
</div>

<!-- SEO Section two -->
<section class="page2" style="margin-bottom: 4vw !important;">
    <div class="divider">
        <img src="/assets/images/page2.webp" alt="">
    </div>

    <div class="logo-box1">
        <div class="bar">
          <div class="inner-bar">
            <img src="/assets/images/l1.webp" alt="Hello">
            <img src="/assets/images/l2.webp" alt="Hello">
            <img src="/assets/images/l3.webp" alt="Hello">
            <img src="/assets/images/l4.webp" alt="Hello">
            <img src="/assets/images/l5.webp" alt="Hello">
            <img src="/assets/images/l6.webp" alt="Hello">
            <img src="/assets/images/l7.webp" alt="Hello">
            <img src="/assets/images/l8.webp" alt="Hello">
            <img src="/assets/images/l9.webp" alt="Hello">
            <img src="/assets/images/l10.webp" alt="Hello">
            <!-- duplicate the images to create the infinite effect -->
            <img src="/assets/images/l1.webp" alt="Hello">
            <img src="/assets/images/l2.webp" alt="Hello">
            <img src="/assets/images/l3.webp" alt="Hello">
            <img src="/assets/images/l4.webp" alt="Hello">
            <img src="/assets/images/l5.webp" alt="Hello">
            <img src="/assets/images/l6.webp" alt="Hello">
            <img src="/assets/images/l7.webp" alt="Hello">
            <img src="/assets/images/l8.webp" alt="Hello">
            <img src="/assets/images/l9.webp" alt="Hello">
            <img src="/assets/images/l10.webp" alt="Hello">
          </div>
        </div>
      </div>
    <div class="logo-box2">
        <div class="img"><img src="/assets/images/BF1.webp" alt="BF1"></div>
        <div class="img"><img src="/assets/images/BF2.webp" alt="BF2"></div>
        <div class="img"><img src="/assets/images/BF3.webp" alt="BF3"></div>
    </div>

</section>

<!-- SEO Section Three -->
<div class="em-sec-one" style="padding: 0vw 4vw 0vw 4vw;">
    <div class="em-sec-one-left">
        <span>
            <p>Skyrocket Your SEO with Quality</p>
            <p>Boost your website’s ranking with our effective link-building services. Utilize high-quality backlinks for improved seo search optimization and seo engine optimization. Stay ahead of competitors and increase your visibility in search engines. Enhance your website’s presence today!</p>
        </span>
    </div>
    <div class="em-sec-one-right" style="aspect-ratio: 704.27/531;">
        <img src="/assets/images/seo-img-2.webp" alt="seo-img-2">
    </div>
</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<!-- SEO Section Four -->
<div class="em-sec-two">
    <div class="em-sec-two-left" style="aspect-ratio: 680/439;">
        <img src="/assets/images/seo-img-3.webp" alt="seo-img-3">
    </div>
    <div class="em-sec-two-right">
        <span>
            <p>Why Buy Backlinks</p>
            <p>Web 2.0 backlinks are effective for influencing the content linked to your website. These links come from high-authority domains and can significantly enhance your site's ranking power. To see the impact, you can check my backlinks for a detailed analysis.</p>
        </span>
    </div>
</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<!-- SEO Section Five -->
<div class="em-sec-one" style="padding: 0vw 4vw 0vw 4vw;">
    <div class="em-sec-one-left">
        <span>
            <p>Backlinks From Wiki Websites</p>
            <p>Wiki backlinks are a highly effective SEO method for boosting keyword rankings quickly and attracting quality traffic. Wiki sites have a strong reputation on Google, drawing visitors globally. To evaluate their impact, use tools like the Ahrefs backlink checker.</p>
        </span>
    </div>
    <div class="em-sec-one-right" style="aspect-ratio: 623/596;">
        <img src="/assets/images/seo-img-4.webp" alt="seo-img-4">
    </div>
</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<!-- SEO Section Six -->
<div class="em-sec-two">
    <div class="em-sec-two-left" style="aspect-ratio: 596/540;">
        <img src="/assets/images/seo-img-5.webp" loading="lazy" alt="seo-img-5">
    </div>
    <div class="em-sec-two-right">
        <span>
            <p>Multi-Tier Backlinks for Better Ranking</p>
            <p>Tiered backlinks boost the link juice from your backlink profile to your website. For instance, a Tier 1 backlink points directly to your main site, several Tier 2 backlinks point to the Tier 1 backlink, and multiple Tier 3 backlinks point to each Tier 2 backlink.
            </p>
        </span>
    </div>
</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<!-- SEO Section Seven -->
<div class="hed fsm" style="padding-top: 0 !important;">BOOSTS KEYWORDS WITH <span style="color: #C4C800;">MULTI-TIER</span> BACKLINKS</div>
<div class="design-section-four-in seo-sec-7-mob" style="padding: 0 4vw;">
    <div class="design-section-card">
        <p>1 Tier Backlinks</p>
        <p>Tier 1 backlinks create single-level links that point directly to your website.Having only Tier 1 links is less effective. To boost rankings and increase do-follow links, it's best to use a combination of Tier 1, Tier 2, and Tier 3 backlinks with custom link building.</p>
    </div>
    <div class="design-section-card">
        <p>2 Tier Backlinks</p>
        <p>Tier 2 links are highly effective for boosting rankings of low to moderately competitive keywords. Their main goal is to enhance the link juice passed from your backlink profile to your main website.</p>
    </div>
    <div class="design-section-card">
        <p>3 Tier Backlinks</p>
        <p>Tier 3 links offer increased power and juice to your link building efforts. It involves a Tier 1 backlink pointing to your main site, followed by several Tier 2 backlinks pointing to the Tier 1 link, and finally, multiple Tier 3 backlinks pointing to each Tier 2 link.</p>
    </div>
</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<!-- SEO Section Eight -->
<div class="hed fsm" style="padding: 0 4vw !important;">On-Page SEO</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<div class="design-section-four-in seo-sec-8-mob" style="padding: 0 4vw;">
    <div class="design-section-card">
        <p>Alt Tag</p>
        <p>An alt tag (alternative text) is an HTML attribute used to describe the content of an image on a webpage. It is beneficial for on-page SEO because it helps search engines understand the image content, improving accessibility and ranking.</p>
    </div>
    <div class="design-section-card">
        <p>Meta Tag</p>
        <p>A meta tag is an HTML element that provides metadata about a webpage, such as descriptions and keywords, to search engines and browsers. It benefits on-page SEO by improving search engine rankings and click-through rates, enhancing content relevance.</p>
    </div>
    <div class="design-section-card">
        <p>Sitemap</p>
        <p>A sitemap is a file that lists all important pages of a website, aiding search engines in crawling and indexing content efficiently. It enhances SEO by ensuring all pages are found, improving visibility and ranking potential.</p>
    </div>
    <div class="design-section-card">
        <p>Robots File</p>
        <p>A robots.txt file directs search engine crawlers on which pages to crawl or ignore on a website. It's crucial for on-page SEO by controlling access, ensuring search engines prioritize relevant content, and managing crawl budget effectively.</p>
    </div>
</div>

<div class="septr2"></div>

<div class="design-section-four-in seo-sec-8-mob" style="padding: 0 4vw;">
    <div class="design-section-card">
        <p>Schema Markup</p>
        <p>Schema markup is structured data added to a webpage's HTML to help search engines understand content context. Types include product, review, event, local business, and article schemas, enhancing search visibility and rich result potential.</p>
    </div>
    <div class="design-section-card">
        <p>Broken Links</p>
        <p>Broken links are hyperlinks on a webpage that lead to non-existent or inaccessible pages. They harm user experience by frustrating visitors and can negatively impact SEO by reducing crawl efficiency and authority, potentially lowering search engine rankings.</p>
    </div>
    <div class="design-section-card">
        <p>Herflang Tag</p>
        <p>The hreflang tag specifies language and regional variations of a webpage to search engines, ensuring users see the most relevant version based on their language or location. It enhances SEO by improving user experience and targeting international audiences effectively.</p>
    </div>
    <div class="design-section-card">
        <p>Canonical Tag</p>
        <p>Canonical tags consolidate duplicate or similar content URLs into a preferred version, focusing search engine ranking signals on that URL. This prevents content dilution, consolidates authority, and improves the chosen page's ranking potential, optimizing SEO efforts.</p>
    </div>
</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<!-- SEO Section Nine -->
<div class="hed fsm" style="padding-top: 0 !important;">OUR <span style="color: #C4C800;">DIGITAL</span> SEO PACKAGE</div>

<div class="package-section">
    <div class="package-sec-in">
        <div class="bttn"><a href="/contact-us"><button>PAY NOW</button></a></div>
        <div class="hed-psi">1 Standard</div>
        <div>
            <ul>
                <p class="zx">Off Page SEO</p>
                <li>Backlinks from Blogs, Forums, Wiki</li>
                <li>Total 2500 Backlinks</li>
                <li>For 1 Website URL</li>
                <li>For up to 6 Keywords</li>
                <li>100% DoFollow Backlinks</li>
                <li>Permanent Backlinks</li>
                <li>Free Premium Indexing</li>
                <li>Detailed Backlinks Report</li>
                <li>Press Releases</li>
                <li>Social Bookmarks & Blog Comments</li>
                <li>Delivery Full Report Within 15 Working Days</li>
                <li>100% Safe with Search Engines</li>
                <li>40 Days Ping Back To Your Website</li>
                <li>Search Engine Submissions</li>
                <p class="zx">On-Page SEO</p>
                <li>competitor Analysis</li>
                <li>Keyword Analysis</li>
                <li>Target SEO Score 70+</li>
                <li>Title Tag</li>
                <li>Meta Description</li>
                <li>All tags changes</li>
                <li>Canonical Tags</li>
                <li>Meta Keywords</li>
                <div class="mon"><span>Rs. 9990/-</span></div>
            </ul>
        </div>
    </div>
    <div class="package-sec-in">
        <div class="bttn"><a href="/contact-us"><button>PAY NOW</button></a></div>
        <div class="hed-psi">2 Premium</div>
        <div>
            <ul>
                <p class="zx">Off Page SEO</p>
                <li>Backlinks from Blogs, Forums, Wiki, Social Book marks</li>
                <li>Total 5000 Backlinks</li>
                <li>For 1 Website URL</li>
                <li>For up to 10 Keywords</li>
                <li>100% DoFollow Backlinks</li>
                <li>Permanent Backlinks</li>
                <li>Free Premium Indexing</li>
                <li>Detailed Backlinks Report</li>
                <li>Press Releases</li>
                <li>Social Bookmarks & Blog Comments</li>
                <li>Delivery Full Report Within 25 Working Days</li>
                <li>100% Safe with Search Engines</li>
                <li>40 Days Ping Back To Your Website</li>
                <li>Search Engine Submissions</li>
                <p class="zx">On-Page SEO</p>
                <li>competitor Analysis</li>
                <li>Keyword Analysis</li>
                <li>Target SEO Score 75+</li>
                <li>Title Tag</li>
                <li>Meta Description</li>
                <li>All tags changes</li>
                <li>Canonical Tags</li>
                <li>Meta Keywords</li>
                <li>Content Optimization</li>
                <li>Header Tags Implementation</li>
                <li>Interlinking whereever required & Broken Links</li>
                <li>Keyword Density in site content, Footer Decoration</li>
                <li>xml sitemap creation and implementation</li>
                <li>robot.txt file creation and implementation</li>
                <li>Schema Markup & Schema.org, Schema tag, Local Business Schema</li>
                <li>Indexing & Crawling</li>
                <li>Https</li>
                <li>Has to be SSL enabled</li>
                <div class="mon"><span>Rs. 24400/-</span></div>
            </ul>
        </div>
    </div>
    <div class="package-sec-in">
        <div class="bttn"><a href="/contact-us"><button>PAY NOW</button></a></div>
        <div class="hed-psi">3 Ultimate</div>
        <div>
            <ul>
                <p class="zx">Off Page SEO</p>
                <li>Backlinks from Blogs, Forums, Wiki, Social Book marks</li>
                <li>Total 10,000 Backlinks</li>
                <li>For 2 Website URL</li>
                <li>For up to 20 Keywords</li>
                <li>100% DoFollow Backlinks</li>
                <li>Permanent Backlinks</li>
                <li>Free Premium Indexing</li>
                <li>Detailed Backlinks Report</li>
                <li>Press Releases</li>
                <li>Social Bookmarks & Blog Comments</li>
                <li>Delivery Full Report Within 30 Working Days</li>
                <li>100% Safe with Search Engines</li>
                <li>40 Days Ping Back To Your Website</li>
                <li>Search Engine Submissions</li>
                <p class="zx">On-Page SEO</p>
                <li>competitor Analysis</li>
                <li>Keyword Analysis</li>
                <li>Target SEO Score 80+</li>
                <li>Title Tag</li>
                <li>Meta Description</li>
                <li>All tags changes</li>
                <li>Canonical Tags</li>
                <li>Meta Keywords</li>
                <li>Content Optimization</li>
                <li>Header Tags Implementation</li>
                <li>Interlinking whereever required & Broken Links</li>
                <li>Keyword Density in site content, Footer Decoration</li>
                <li>xml sitemap creation and implementation</li>
                <li>robot.txt file creation and implementation</li>
                <li>Schema Markup & Schema.org, Schema tag, Local Business Schema</li>
                <li>Indexing & Crawling</li>
                <li>Https</li>
                <li>Has to be SSL enabled</li>
                <div class="mon"><span>Rs. 41400/-</span></div>
            </ul>
        </div>
    </div>
</div>
<!-- consent banner -->
<div id="consent-banner" style="display: none;">
    <h2 style="margin: 2vw 2vw 0 2vw;">We care about your privacy</h2>
    <div>
        <p style="color: #ccc;">
            We use cookies to ensure that we give you the best experience on our website. By clicking "Accept All", you agree to the storing of cookies on your device to give you the most optimal experience using our website.<a style="color: #C4C800" href="/privacy-policy/" target="_blank"> See our Privacy Policy for more info.</a>
        </p>
        <p style="display: flex; gap: 3vw;">
            <a id="consent-button" class="btn" href="javascript:consentAll();">Accept all cookies</a>
            <a id="consent-button-essential" class="btn" href="javascript:essentialOnly();">Essential only</a>
        </p>
    </div>
</div>
<!-- contact-bar -->
<div class="contact-bar">
    <div class="number">
        <img src="/assets/images/call.png" alt="">
        <div class="cn">
            <a href="tel:18005710605">1800-571-0605</a>
            <a href="tel:+13211255890">+1321-125-5890</a>
        </div>
    </div>
    <div class="chat">
        <img src="/assets/images/chat.png" alt="">
        <a href="https://wa.me/9457979134?text=Let%27s%20Talk%20Web%20And%20Marketing%20%5B5%25%20Off%5D">Chat With Us</a>
    </div>
    <div class="face chat">
        <a href="https://calendly.com/shashisales">Fix A Face-2-Face</a>
    </div>
    <div class="mail">
        <img src="/assets/images/mail.png" alt="">
        <a href="mailto:info@shashisales.com?subject=Service%20Inquiry&body=Hello,%0D%0A%0D%0AI%20am%20interested%20in%20your%20services.%20Here%20are%20my%20details:%0D%0A%0D%0AName:%20%0D%0APhone%20Number:%20%0D%0ABusiness%20Name:%20%0D%0ALocation:%20%0D%0AService%20Required:%20%0D%0ABudget:%20%0D%0A%0D%0AThank%20you!"> info@shashisales.com</a>
    </div>
</div>
<script>
    function consentAll()
{
  gtag('consent', 'update', allGranted);
  createCookie('google-consent', true, 30);
  document.getElementById('consent-banner').style = 'display: none;';
  dataLayer.push({'event': 'consent-updated'});
}
function essentialOnly() {
      gtag('consent', 'update', essentialOnlyGranted);
      createCookie('google-consent', true, 30);
      document.getElementById('consent-banner').style = 'display: none;';
      dataLayer.push({'event': 'consent-updated'});
    }

function createCookie(name, value, days) {
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        var expires = "; expires=" + date.toGMTString();
    }
    else var expires = "";               

    document.cookie = name + "=" + value + expires + "; path=/";
}

function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
}

document.addEventListener("DOMContentLoaded", function() {
  if(readCookie('google-consent') == null)
    document.getElementById('consent-banner').style = '';
});
</script>