<% layout("/layouts/boilerplate") %>
<style>
    .bl {
        background-color: #000;
    }
</style>


<!-- SEO Section One -->
<div class="seo-section-one">
    <div class="seo-section-one-left">
        <div>
            <P>ACHIEVE THE TOP RANK FOR YOUR WEBSITE WITH SUPERIOR QUALITY</P>
            <button><a href="/contact-us">CONSULT NOW</a></button>
        </div>
    </div>
    <div class="seo-section-one-right">
        <div class="blur-img"><img src="/assets/images/contact-img2.png" alt="blur image"></div>
        <div class="seo-section-one-right-in"><img src="/assets/images/seo-img-1.webp" alt="SEO Image"></div>
    </div>
</div>

<!-- SEO Section two -->
<section class="page2" style="margin-bottom: 4vw !important;">
    <div class="divider">
        <img src="/assets/images/page2.webp" alt="">
    </div>

    <div class="logo-box1">
        <div class="bar">
          <div class="inner-bar">
            <img src="/assets/images/l1.webp" alt="Hello">
            <img src="/assets/images/l2.webp" alt="Hello">
            <img src="/assets/images/l3.webp" alt="Hello">
            <img src="/assets/images/l4.webp" alt="Hello">
            <img src="/assets/images/l5.webp" alt="Hello">
            <img src="/assets/images/l6.webp" alt="Hello">
            <img src="/assets/images/l7.webp" alt="Hello">
            <img src="/assets/images/l8.webp" alt="Hello">
            <img src="/assets/images/l9.webp" alt="Hello">
            <img src="/assets/images/l10.webp" alt="Hello">
            <!-- duplicate the images to create the infinite effect -->
            <img src="/assets/images/l1.webp" alt="Hello">
            <img src="/assets/images/l2.webp" alt="Hello">
            <img src="/assets/images/l3.webp" alt="Hello">
            <img src="/assets/images/l4.webp" alt="Hello">
            <img src="/assets/images/l5.webp" alt="Hello">
            <img src="/assets/images/l6.webp" alt="Hello">
            <img src="/assets/images/l7.webp" alt="Hello">
            <img src="/assets/images/l8.webp" alt="Hello">
            <img src="/assets/images/l9.webp" alt="Hello">
            <img src="/assets/images/l10.webp" alt="Hello">
          </div>
        </div>
      </div>
    <div class="logo-box2">
        <div class="img"><img src="/assets/images/BF1.webp" alt="BF1"></div>
        <div class="img"><img src="/assets/images/BF2.webp" alt="BF2"></div>
        <div class="img"><img src="/assets/images/BF3.webp" alt="BF3"></div>
    </div>

</section>

<!-- SEO Section Three -->
<div class="em-sec-one" style="padding: 0vw 4vw 0vw 4vw;">
    <div class="em-sec-one-left">
        <span>
            <p>Skyrocket Your SEO with Quality</p>
            <p>Boost your website’s ranking in search engine results with the most effective link-building services. Get high-quality backlinks that matter. Stay ahead of the competition and be easily found in search engines with our backlinks services. Increase your website’s visibility today!</p>
        </span>
    </div>
    <div class="em-sec-one-right" style="aspect-ratio: 704.27/531;">
        <img src="/assets/images/seo-img-2.webp" alt="seo-img-2">
    </div>
</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<!-- SEO Section Four -->
<div class="em-sec-two">
    <div class="em-sec-two-left" style="aspect-ratio: 680/439;">
        <img src="/assets/images/seo-img-3.webp" alt="seo-img-3">
    </div>
    <div class="em-sec-two-right">
        <span>
            <p>Why Buy Backlinks</p>
            <p>Web 2.0 backlinks are powerful tools for controlling the conversation around the content directed to your website. These backlinks come from high-authority domains, and contextual links within blogs can significantly boost your website's ranking power.</p>
        </span>
    </div>
</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<!-- SEO Section Five -->
<div class="em-sec-one" style="padding: 0vw 4vw 0vw 4vw;">
    <div class="em-sec-one-left">
        <span>
            <p>Backlinks From Wiki Websites</p>
            <p>Wiki backlinks are a highly effective method for SEO link building. They can significantly boost your keyword rankings quickly and attract quality traffic when linked to wiki sites. Additionally, these wiki sites enjoy a strong reputation on Google and attract visitors from all over the world.</p>
        </span>
    </div>
    <div class="em-sec-one-right" style="aspect-ratio: 623/596;">
        <img src="/assets/images/seo-img-4.webp" alt="seo-img-4">
    </div>
</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<!-- SEO Section Six -->
<div class="em-sec-two">
    <div class="em-sec-two-left" style="aspect-ratio: 596/540;">
        <img src="/assets/images/seo-img-5.webp" loading="lazy" alt="seo-img-5">
    </div>
    <div class="em-sec-two-right">
        <span>
            <p>Multi-Tier Backlinks for Better Ranking</p>
            <p>Tiered backlinks boost the link juice from your backlink profile to your website. For instance, a Tier 1 backlink points directly to your main site, several Tier 2 backlinks point to the Tier 1 backlink, and multiple Tier 3 backlinks point to each Tier 2 backlink.
            </p>
        </span>
    </div>
</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<!-- SEO Section Seven -->
<div class="hed fsm" style="padding-top: 0 !important;">BOOSTS KEYWORDS WITH <span style="color: #C4C800;">MULTI-TIER</span> BACKLINKS</div>
<div class="design-section-four-in seo-sec-7-mob" style="padding: 0 4vw;">
    <div class="design-section-card">
        <p>1 Tier Backlinks</p>
        <p>Tier backlinks create single-level links that point directly to your website.Having only Tier 1 links is less effective. To boost rankings and increase do-follow links, it's best to use a combination of Tier 1, Tier 2, and Tier 3 backlinks with custom link building.</p>
    </div>
    <div class="design-section-card">
        <p>2 Tier Backlinks</p>
        <p>Tier 2 links are highly effective for boosting rankings of low to moderately competitive keywords. Their main goal is to enhance the link juice passed from your backlink profile to your main website.</p>
    </div>
    <div class="design-section-card">
        <p>3 Tier Backlinks</p>
        <p>Tier 3 links offer increased power and juice to your link building efforts. It involves a Tier 1 backlink pointing to your main site, followed by several Tier 2 backlinks pointing to the Tier 1 link, and finally, multiple Tier 3 backlinks pointing to each Tier 2 link.</p>
    </div>
</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<!-- SEO Section Eight -->
<div class="hed fsm" style="padding: 0 4vw !important;">Backlinks</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<div class="design-section-four-in seo-sec-8-mob" style="padding: 0 4vw;">
    <div class="design-section-card">
        <p>Alt Tag</p>
        <p>Tier 2 links are highly effective for boosting rankings of low to moderately competitive keywords. Their main goal is to enhance the link juice passed from your backlink profile to your main website.</p>
    </div>
    <div class="design-section-card">
        <p>Meta Tag</p>
        <p>Tier 2 links are highly effective for boosting rankings of low to moderately competitive keywords. Their main goal is to enhance the link juice passed from your backlink profile to your main website.</p>
    </div>
    <div class="design-section-card">
        <p>Sitemap</p>
        <p>Tier 2 links are highly effective for boosting rankings of low to moderately competitive keywords. Their main goal is to enhance the link juice passed from your backlink profile to your main website.</p>
    </div>
    <div class="design-section-card">
        <p>Robots File</p>
        <p>Tier 2 links are highly effective for boosting rankings of low to moderately competitive keywords. Their main goal is to enhance the link juice passed from your backlink profile to your main website.</p>
    </div>
</div>

<div class="septr2"></div>

<div class="design-section-four-in seo-sec-8-mob" style="padding: 0 4vw;">
    <div class="design-section-card">
        <p>Schema</p>
        <p>Tier 2 links are highly effective for boosting rankings of low to moderately competitive keywords. Their main goal is to enhance the link juice passed from your backlink profile to your main website.</p>
    </div>
    <div class="design-section-card">
        <p>Broken Link</p>
        <p>Tier 2 links are highly effective for boosting rankings of low to moderately competitive keywords. Their main goal is to enhance the link juice passed from your backlink profile to your main website.</p>
    </div>
    <div class="design-section-card">
        <p>Herflang Tag</p>
        <p>Tier 2 links are highly effective for boosting rankings of low to moderately competitive keywords. Their main goal is to enhance the link juice passed from your backlink profile to your main website.</p>
    </div>
    <div class="design-section-card">
        <p>Canonical Tag</p>
        <p>Tier 2 links are highly effective for boosting rankings of low to moderately competitive keywords. Their main goal is to enhance the link juice passed from your backlink profile to your main website.</p>
    </div>
</div>

<div class="septr" style="margin: 3vw 4vw; border-bottom: 1px solid;"></div>

<!-- SEO Section Nine -->
<div class="hed fsm" style="padding-top: 0 !important;">OUR <span style="color: #C4C800;">DIGITAL</span> PACKAGE</div>

<div class="package-section">
    <div class="package-sec-in">
        <div class="bttn"><a href="/contact-us"><button>BOOK NOW</button></a></div>
        <div class="hed-psi">1 Basic</div>
        <div>
            <ul>
                <li>3 Page Web Designing</li>
                <li>Basic Available Domain</li>
                <li>3 Social Media Accounts Setup</li>
                <li>Basic Content Writing</li>
                <li>Business Requirement Document 4500</li>
                <li>BH Support</li>
                <li>Search Engine Optimization & SMO</li>
                <li>Digital Marketing 12</li>
                <li>Graphic Design x45n</li>
                <li>Video Editing x6n</li>
                <li>Desktop Compatible Interface</li>
                <li>Free Email Campaign Marketing</li>
                <li>Free Tele-Marketing Outsourcing Upto 100 Calls per Month</li>
                <li>Whatsapp Marketing</li>
                <li>Backlinking 1000</li>
                <li>Annual Renewal Charges</li>
                <li>SSL Certificate</li>
                <li>No Payment Gateway Integration</li>
            </ul>
        </div>
    </div>
    <div class="package-sec-in">
        <div class="bttn"><a href="/contact-us"><button>BOOK NOW</button></a></div>
        <div class="hed-psi">2 Standard</div>
        <div>
            <ul>
                <li>6 Page Website Designing</li>
                <li>Standard Requested Domain</li>
                <li>6 Social Media Accounts Setup</li>
                <li>Expert Content Writing</li>
                <li>Business Requirement Document 9000</li>
                <li>Weekend BH Support</li>
                <li>Search Engine Optimization & SMO</li>
                <li>Digital Marketing 24</li>
                <li>Graphic Design x90n</li>
                <li>Video Editing x9n</li>
                <li>Desktop & Tablet Compatible Interface</li>
                <li>Free Email Campaign Marketing</li>
                <li>Free Tele-Marketing Outsourcing Upto 200 Calls per Month</li>
                <li>Whatsapp Marketing</li>
                <li>Backlinking 2000</li>
                <li>Annual Renewal Charges after 2 years</li>
                <li>SSL Certificate</li>
                <li>No Payment Gateway Integration</li>
            </ul>
        </div>
    </div>
    <div class="package-sec-in">
        <div class="bttn"><a href="/contact-us"><button>BOOK NOW</button></a></div>
        <div class="hed-psi">3 Premium</div>
        <div>
            <ul>
                <li>Upto 15 Page Web Development company in Delhi</li>
                <li>Premium Bought Domain</li>
                <li>13 Social Media Accounts Setup</li>
                <li>Technical Content Writing</li>
                <li>Business Requirement Document 14500</li>
                <li>24*7 Support</li>
                <li>Search Engine Optimization & SMO</li>
                <li>Affiliate Marketing 36+</li>
                <li>Motion and Still Graphic Design x135n+</li>
                <li>Video Editing x12n</li>
                <li>All platform Compatible</li>
                <li>Free Email Campaign Marketing</li>
                <li>Free Tele-Marketing Outsourcing Upto 600 Calls per Month</li>
                <li>Whatsapp Marketing</li>
                <li>Backlinking 5000</li>
                <li>Annual Renewal Charges after 5 years</li>
                <li>SSL Certificate</li>
                <li>Payment Gateway Integration</li>
            </ul>
        </div>
    </div>
</div>

<!-- contact-bar -->
<div class="contact-bar">
    <div class="number">
        <img src="/assets/images/call.png" alt="">
        <div class="cn">
            <a href="tel:18005710605">1800-571-0605</a>
            <a href="tel:+13211255890">+1321-125-5890</a>
        </div>
    </div>
    <div class="chat">
        <img src="/assets/images/chat.png" alt="">
        <a href="https://wa.me/9457979134?text=Let%27s%20Talk%20Web%20And%20Marketing%20%5B5%25%20Off%5D">Chat With Us</a>
    </div>
    <div class="face chat">
        <a href="https://calendly.com/shashisales">Fix A Face-2-Face</a>
    </div>
    <div class="mail">
        <img src="/assets/images/mail.png" alt="">
        <a href="mailto:info@shashisales.com?subject=Service%20Inquiry&body=Hello,%0D%0A%0D%0AI%20am%20interested%20in%20your%20services.%20Here%20are%20my%20details:%0D%0A%0D%0AName:%20%0D%0APhone%20Number:%20%0D%0ABusiness%20Name:%20%0D%0ALocation:%20%0D%0AService%20Required:%20%0D%0ABudget:%20%0D%0A%0D%0AThank%20you!"> info@shashisales.com</a>
    </div>
</div>
