<% layout("/layouts/boilerplate") %>

    <style>
        .bl {
            background-color: #000;
        }
    </style>

    <div class="first-component">
        <div class="comp1">
            <div class="in">
                <div class="in1">Crafting a Spectrum of Websites Tailored to Your Needs</div>
                <div class="in2"><a href="/contact-us"><button>Book Now</button></a></div>
            </div>
        </div>
        <div class="comp2">
            <div class="imgr"><img src="/assets/images/contact-img2.webp" alt="contact-img2"></div>
            <div class="web-dev">
                <h2>WEBSITE DEVELOPMENT</h2>
            </div>
            <img class="w-img1" src="/assets/images/w-img1.webp" alt='w-img1'></img>
        </div>
    </div>



    <div class="wheel-animation">
        <div class="wheel first-wheel">
            <div class="wheel-text">
                <div class="iwt t1">
                    <h3>Unleashing Business Potential</h3>
                    <p class="himv">Websites for Every EnterpriseIn today's dynamic business landscape, websites are
                        indispensable for businesses of all sizes. Unlock your business' potential with a website.</p>
                </div>
                <div class="iwt t2">
                    <h3>Accessible Around the Clock: </h3>
                    <p class="himv">Unlike traditional storefronts, your website is accessible 24/7. This ensures that
                        potential customers can engage with your offerings at their convenience, irrespective of time
                        zones or business hours.</p>
                </div>
                <div class="iwt t3">
                    <h3>Global Visibility, Local Impact</h3>
                    <p class="himv"> A website transforms your business into a global player, expanding your reach far
                        beyond local boundaries while maintaining a profound impact on your local audience.</p>
                </div>
                <div class="iwt t4">
                    <h3>Building Trust through Professionalism</h3>
                    <p class="himv">Craft a credible and professional image with a well-designed website. Showcase your
                        expertise, achievements, and testimonials, fostering trust and credibility among potential
                        customers.</p>
                </div>
            </div>
            <div class="wheel-image">
                <img src="/assets/images/W1.webp" alt="">
            </div>
        </div>
        <div class="wheel second-wheel">
            <div class="wheel-text">
                <div class="iwt t1">
                    <h3>Reaching Diverse Audiences</h3>
                    <p class="himv">Embrace a global audience through your website. Whether you're a local startup or an
                        established enterprise, having an online presence all ows you to connect with diverse audiences
                        worldwide.</p>
                </div>
                <div class="iwt t2">
                    <h3>Seamless Communication and Support</h3>
                    <p class="himv">Utilize your website as a central communication hub. Engage with customers through
                        contact forms, emails, or live chat features, and offer essential support resources for enhanced
                        customer satisfaction.</p>
                </div>
                <div class="iwt t3">
                    <h3>Strategic Marketing Hub</h3>
                    <p class="himv">Your website serves as a powerful marketing tool. Leverage digital marketing
                        strategies, such as SEO and social media integration, to attract, engage, and convert visitors
                        into loyal customers.</p>
                </div>
                <div class="iwt t4">
                    <h3>Convenience Empowers Customers</h3>
                    <p class="himv">Empower your customers with the convenience of online research. Provide them with
                        easily accessible information, aiding their decision-making process and fostering a positive
                        customer experience.</p>
                </div>
            </div>
            <div class="wheel-image">
                <img src="/assets/images/W2.webp" alt="">
            </div>
        </div>
        <div class="wheel third-wheel">
            <div class="wheel-text">
                <div class="iwt t1">
                    <h3>Showcasing Excellence</h3>
                    <p class="himv">For businesses in creative or service sectors, a website becomes a virtual gallery.
                        Showcase portfolios, case studies, and past work to demonstrate your capabilities and unique
                        style.</p>
                </div>
                <div class="iwt t2">
                    <h3>Seamless Communication and Support</h3>
                    <p class="himv">Utilize your website as a central communication hub. Engage with customers through
                        contact forms, emails, or live chat features, and offer essential support resources for enhanced
                        customer satisfaction.</p>
                </div>
                <div class="iwt t3">
                    <h3>E-commerce Opportunities</h3>
                    <p class="himv">Tap into the vast world of e-commerce with a website. Shashi Sales encourages
                        businesses to leverage online selling, allowing you to accept payments and reach a broader
                        customer base.</p>
                </div>
                <div class="iwt t4">
                    <h3>Informed Decision-Making with Analytics</h3>
                    <p class="himv">Gain valuable insights through website analytics. Understand user behavior, identify
                        popular content, and collect data to make informed decisions that drive continuous improvement.
                    </p>
                </div>
            </div>
            <div class="wheel-image">
                <img src="/assets/images/W3.webp" alt="">
            </div>
        </div>
    </div>

    <!-- Basic Standard Premium -->

    <!-- Premium end mobile view -->
    <div class="premium-end-r-mobview">
        <h1 class="fs2-mobview" style="margin-bottom: 1vw;">Crafting a Spectrum of Websites Tailored to Your Needs</h1>
        <div>
            <div class="fs1-3-mobview">Get the most out of your online presence with our custom web development
                services. Design innovation, robust coding, proven expertise.</div>
            <!-- <div><button>Call Us Now</button></div> -->
        </div>
    </div>

    <div class="premium-out-cont">
        <div class="premium-in-cont">
            <div class="premium-cont-top-left">
                <div class="bor" id="bor1" class="bor-btm">
                    <img id="im1" src="/assets/images/i1.webp" alt="i1"></img>
                    <div id="basic">BASIC</div>
                </div>
                <div class="bor" id="bor2" class="bor-btm">
                    <img id="im2" src="/assets/images/i2.webp" alt="i2"></img>
                    <div id="standard">STANDARD</div>
                </div>
                <div class="bor" id="bor3" class="bor-btm">
                    <img id="im3" src="/assets/images/i3.webp" alt="i3"></img>
                    <div id="premium">PREMIUM</div>
                </div>
            </div>
            <div class="premium-cont-top-right"></div>
        </div>
        <div class="premium-end">
            <div class="premium-end-l">
                <div class="premium-end-l-in">
                    <div class="premium-end-l-l">
                        <img id="imgid1" src="/assets/images/w-img-3.webp" alt="w-img-3"><img />
                    </div>
                    <div class="premium-end-l-r">
                        <div>
                            <h3 id="premid-h1">Project Websites</h3>
                            <p id="premid-p1">Showcasing an individual's portfolio, blog, or personal interests.</p>
                            <h3 id="premid-h2">Portfolio Websites</h3>
                            <p id="premid-p2">Portfolios, blogs, or personal interests.</p>
                            <h3 id="premid-h3">Nonprofit or NGO Websites</h3>
                            <p id="premid-p3">Promoting the mission, goals, and activities of nonprofit organizations.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="premium-end-r">
                <h1 class="fs2">Crafting a Spectrum of Websites Tailored to Your Needs</h1>
                <div class="fs1-3">Get the most out of your online presence with our custom web development services.
                    Design innovation, robust coding, proven expertise.</div>
                <!-- <div><button>Call Us Now</button></div> -->
            </div>
        </div>
    </div>


    <!-- Client Testimonials -->
    <h1 style="margin-bottom: 1rem;">Client Testimonials</h1>
    <div class="testimonial-section">
        <div class="testimonial-container">
            <div class="testimonial left">
                <p>Fresh & eye-catching graphic designs for meetings. Plan videos were the best. Thank you
                </p>
                <p class="name" style="display: none;">- Rajiv</p>
                <img src="/assets/images/t3.webp" loading="lazy" alt="Person 3">
            </div>
            <div class="testimonial center">
                <p>They are serious and truly care about their clients. They always accept the customer's complaint and input</p>
                <p class="name">- Pragati Jain</p>
                <img src="/assets/images/t2.webp" loading="lazy" alt="Person 2">
            </div>
            <div class="testimonial right">
                <p>Closed 4 clients for interior design in 2 months at every cheap investment. Shashi Sales has been helping a lot.</p>
                <p class="name" style="display: none;">- V V Pandey</p>
                <img src="/assets/images/t1.webp" loading="lazy" alt="Person 1">
            </div>
        </div>
        <div class="testimonial-buttons">
            <button class="susses-story">Susses Story</button>
            <button class="growth">Growth</button>
            <button class="case-study">Case Study</button>
        </div>
    </div>




    <!-- What makes us different section  -->
    <div class="w-cont">
        <div class="w-cont-1">
            <div class="sd">
                <div>
                    <h1>What Makes Us Different</h1>
                    <ul>
                        <li> SEO Ready Website</li>
                        <li>Crystal Clear Financial</li>
                        <li>Your Tech Buddy for 5 years</li>
                        <li>Mobile Responsive Website</li>
                        <li>Content Accuracy & Freshness</li>
                        <li>Training During Handover</li>
                        <li>Fort Knox Security Measures</li>
                        <li>Long Haul Integration Support</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-cont-2">
            <div class="ad">
                <img src="/assets/images/w-img-2.webp" loading="lazy" alt="w-img-2">
            </div>
        </div>
    </div>


    <div class="leads">
        <p>Require Web Development ?</p>
        <div class="form-container">
            <form action="/submit-quote-lead" method="post">
                <input type="text" name="number" id="numberInput" placeholder="Enter Your Number" required>
                <button class="spaos">Get Started</button>
            </form>
        </div>
    </div>
    <p class="soson"
        style="display: none; width: 70%; text-align: center; margin: auto; font-size: 1.5vw; margin-bottom: 1rem; font-weight: bold;">
        Thank you for your interest in our company, we appreciate your efforts in shashi sales and marketing. You will
        get a call soon from our sales team.</p>




    <!-- How We Do It -->

    <div class="df">
        <h1>How We Do It</h1>
    </div>
    <div class="out-cont">
        <div class="fl">
            <div class="wi"></div>
            <div class="wi2">
                <div id="idc1" class="column">CUSTOM</div>
                <div id="idc2" class="column">RESPONSIVE</div>
                <div id="idc3" class="column">USER EXPERIENCE</div>
            </div>
        </div>
        <div class="main-con">
            <div class="con-1">
                <div id="idr1" class="row">WEBSITE DESIGN</div>
                <div id="idr2" class="row">TECHNOLOGIES WE USE</div>
                <div id="idr3" class="row">E-COMMERCE SOLUTIONS</div>
                <div id="idr4" class="row">MAINTENANCE & SUPPORT</div>
                <div id="idr5" class="row">WEBSITE DEVELOPMENT</div>
            </div>
            <div class="con-2">
                <div class="con-2-in">
                    <p id="idp1">Tailored website designs reflecting individual brand identities and visions—our team
                        ensures a unique, client-eccentric approach.</p>
                    <h3 id="idh">Key Feature</h3>
                    <p id="idp2">Personalized Design Concepts: We present multiple design concepts based on your brand
                        guidelines and preferences.</p>
                    <p id="idp3">Brand Consistency: Ensure that the design aligns seamlessly with your existing brand
                        elements for a cohesive online presence.</p>
                    <p id="idp4">Visual Appeal: Craft visually stunning and engaging designs that leave a lasting
                        impression on your website visitors.</p>
                </div>
            </div>
        </div>
    </div>


    <div id="consent-banner" style="display: none;">
        <h2 style="margin: 2vw 2vw 0 2vw;">We care about your privacy</h2>
        <div>
            <p style="color: #ccc;">
                We use cookies to ensure that we give you the best experience on our website. By clicking "Accept All", you agree to the storing of cookies on your device to give you the most optimal experience using our website.<a style="color: #C4C800" href="/privacy-policy/" target="_blank"> See our Privacy Policy for more info.</a>
            </p>
            <p style="display: flex; gap: 3vw;">
                <a id="consent-button" class="btn" href="javascript:consentAll();">Accept all cookies</a>
                <a id="consent-button-essential" class="btn" href="javascript:essentialOnly();">Essential only</a>
            </p>
        </div>
    </div>


<!-- Call Section -->
    <div class="contact-bar">
        <div class="number">
            <img src="/assets/images/call.png" loading="lazy" alt="">
            <div class="cn">
                <a href="tel:18005710605">1800-571-0605</a>
                <a href="tel:+13211255890">+1321-125-5890</a>
            </div>
        </div>
        <div class="chat">
            <img src="/assets/images/chat.png" loading="lazy" alt="">
            <a href="https://wa.me/9457979134?text=Let%27s%20Talk%20Web%20And%20Marketing%20%5B5%25%20Off%5D">Chat With
                Us</a>
        </div>
        <div class="face chat">
            <a href="https://calendly.com/shashisales">Fix A Face-2-Face</a>
        </div>
        <div class="mail">
            <img src="/assets/images/mail.png" loading="lazy" alt="">
            <a
                href="mailto:info@shashisales.com?subject=Service%20Inquiry&body=Hello,%0D%0A%0D%0AI%20am%20interested%20in%20your%20services.%20Here%20are%20my%20details:%0D%0A%0D%0AName:%20%0D%0APhone%20Number:%20%0D%0ABusiness%20Name:%20%0D%0ALocation:%20%0D%0AService%20Required:%20%0D%0ABudget:%20%0D%0A%0D%0AThank%20you!">
                info@shashisales.com</a>
        </div>
    </div>


    <div class="web-gap"></div>