
h1{
    padding: 4vw 0;
}
/* Who We Are */
.title-fs{
    font-size: 3vw;
    font-weight: bold;
}
.who-cont{
    margin-top: 4rem;
    padding: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2vw;
}
.who-cont-l{
    width: 55%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.who-cont-l a{
    color: #000000;
    margin-top: 1vw;
    font-size: 1.3vw;
    background: rgb(196, 200, 0);
    border: none;
    border-radius: 2vw;
    font-weight: bold;
    padding: 0.7vw 5vw;
}
.who-cont-l div{
    line-height: 1.6;
}
.who-cont-r{
    aspect-ratio: 892/895;
    width: 45%;
    height: auto;
    overflow: hidden;
}
.who-cont-r img{
    height: 100%;
    width: 100%;
}
.co-g{
    color: #C4C800;
    font-size: 2vw;
    font-weight: bold;
}
.co-grey{
    color: #404040;
    font-size: 1.5vw;
    line-height: 1.6;
}

/* We're are all about relationships and results */
.rel-cont{
    padding: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2vw;
}
.rel-cont-l{
    aspect-ratio: 824/713;
    width: 50%;
    height: auto;
    overflow: hidden;
}
.rel-cont-l img{
    width: 100%;
    height: 100%;
}
.rel-cont-r{
    width: 50%;
    line-height: 1.6;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.rel-cont-r-in{
    margin-top: 1vw;
    background-color: #D9D9D9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 6vw;
    width: 100%;
    border-radius: 1vw;
}
.rel-cont-r-in div{
    padding: 0 1vw;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.bol{
    font-weight: bold;
    font-size: 1.5vw;
}
.smg{
    font-size: 1vw;
    color: #404040;
}

/* Our History */
.hist-cont{
    padding: 3vw;
}
.hist-cont-in{
    background-color: #D9D9D9;
    height: 13vw;
    border-radius: 7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.hist-cont-l{
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
    border-radius: 7vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
}
.hist-cont-l-in{
    background-color: #C4C800;
    width: 80%;
    height: 85%;
    border-radius: 7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.3vw;
    text-align: center;
}
.hist-cont-r{
    width: 85%;
    position: relative;
}
.hist-cont-r-t{
    height: 50%;
    width: 70%;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    position: absolute;
    right: 10vw;
}
.hist-cont-r-t-in{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 12vw;
}
.hist-box{
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.hist-cont-r-b{
    height: 50%;
    width: 70%;
    -ms-flex-line-pack: center;
        align-content: center;
    position: absolute;
    left: 4vw;
    bottom: 0;
}
.hist-cont-r-b-in{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 12vw;
}
.smg2{
    font-size: 1.2vw;
    font-weight: bold;
    color: #5a5555;
}
.bol2{
    font-size: 1.4vw;
    font-weight: bold;
}


/* Why Choose Us */
.why-cont{
    padding: 0 3vw 0vw 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2vw;
}
.why-cont-l{
    width: 50%;
    line-height: 1.7;
}
.why-cont-l p{
    font-size: 1.5vw;
}
.why-cont-r{
    border-radius: 1vw;
    aspect-ratio: 824/713;
    height: auto;
    width: 50%;
    overflow: hidden;
}
.why-cont-r img{
    height: 100%;
    width: 100%;
}

/* Problems and Solutions */
.prob-cont{
    padding: 0 3vw 0 3vw;
}
.prob-cont h1{
    text-align: center;
    padding: 0 0 3vw 0;
}
.prob-cont-s1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.b-cen{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.s1-card{
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 1vw;
    height: 30vw;
    width: 26vw;
    background-color: #000000;
}
.headi{
    font-weight: bold;
    font-size: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-radius: 4vw;
    background-color: #D9D9D9;
    height: 7vw;
    width: 7vw;
}
.s1-card p{
    text-align: center;
    line-height: 1.7;
    font-size: 1.4vw;
    color: #979797;
    margin: 1.2vw;
    /* height: 15vw; */
}
.prob-cont-s2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.s2-card{
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 1vw;
    height: 30vw;
    width: 26vw;
    background-color: #D9D9D9;
}
.s2-card .headi{
    font-weight: bold;
    font-size: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-radius: 4vw;
    background-color: #000000;
    color: white;
    height: 7vw;
    width: 7vw;
}
.s2-card p{
    text-align: center;
    line-height: 1.7;
    font-size: 1.4vw;
    color: #404040;
    margin: 1.2vw;
    /* height: 15vw; */
}
.sep{
    height: 0px;
    border-bottom: 1px solid;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/* Our Missions, Vision, Future Plan */
.mission-cont{
    padding: 0vw 3vw 0vw 3vw;
}
.mission-cont h1{
    text-align: center;
}
.mission-cont-in{
    /* padding: 3vw 0vw 0 0; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 12vw;
}
.mission-card{
    height: 20vw;
    width: 20vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-color: #ECECEC;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10vw;
    -webkit-box-shadow: 10px 12px 16px #cbbaba;
            box-shadow: 10px 12px 16px #cbbaba;
}
.mission-card-in{
    height: 50%;
    width: 80%;
    text-align: center;
    line-height: 1.5;
}
.mission-card-in p{
    font-size: 1.3vw;
}
.mission-card-in h2{
    font-size: 2.5vw;
}
.a1{
    font-size: 9vw;
    color: #D9D9D9;
    position: absolute;
    top: 0;
    left: 0;
}
.mission-cont h1, .nc {
    margin-top: 2.8rem;
}
/* Key Pillars & Success Mantras */
/* .pillars-cont{
    padding: 0 3vw 3vw 3vw;
} */
.pillars-cont h1{
    text-align: center;
    padding: 0 3vw 3vw 3vw;
}
.pillars-cont-in{
    width: 100%;
    padding: 0vw 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 6vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.pill{
    width: 25%;
    text-align: center;
    line-height: 1.3;
}
.pill-img{
    position: relative;
    aspect-ratio: 536/378;
    width: auto;
    height: auto;
    margin: auto;
}
.pill img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pill p{
    color: #404040;
    font-size: 1vw;
}
.pill h3{
    font-size: 1.5vw;
}


/* Meet Our Brilliant Team */
.brilliant-cont{
    padding: 0 3vw 0vw 3vw !important;
}
.brilliant-cont h1{
    text-align: center;
}
.bri-card-out {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    overflow-x: auto;
}
.bri-card-out::-webkit-scrollbar {
    height: 0.5vw;
}
.bri-card-out::-webkit-scrollbar-thumb {
    background: #d6cfcf; 
    border-radius: 0;
}
.bri-card-out::-webkit-scrollbar-thumb:hover {
    background: #b6abab; 
}
.bri-card-out::-webkit-scrollbar-track {
    background: #f8f6f6; 
    border-radius: 0;
}
.bri-card {
    position: relative;
    height: 26vw;
    width: 23.3%;
    flex-shrink: 0;
    scroll-snap-align: start;
    overflow: hidden;
    border: 1px solid #ccc;
}

.img-cont {
    aspect-ratio: 267/240;
    position: absolute;
    top: 35%;
    left: 30%;
    height: 31%;
    width: 39%;
}

.img-cont img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.bri-card-t {
    height: 50%;
    width: 100%;
    background-color: #DEDEDE;
    display: grid;
    justify-content: center;
    align-items: center;
}

.bri-card-t h3 {
    text-align: center;
    font-size: 1.5vw !important;
}

.bri-card-t p {
    text-align: center;
    font-size: 1.2vw;
}

.bri-card-b {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bri-card-b p {
    padding: 4vw 2vw 2vw 2vw;
    font-size: 1.3vw;
}


.mtb{
    margin-bottom: 1.2rem;
}
.mar-bot{
    margin-bottom: 4vw;
}

@media only screen and (max-width: 600px){
    .why-cont-l p{
        font-size: 1.8vw;
    }
    
    .brilliant-cont{
        padding-bottom: 20vw !important;
    }
    .brilliant-cont h1{
        margin-top: 1.5rem;
    }
    .pill h3 {
        font-size: 0.4rem !important;
    }
    .pill p {
        color: #404040;
        font-size: 0.3rem;
    }
    .bri-card {
        width: 31%;
        height: 34vw;
        flex: 0 0 auto;
    }
    .img-cont {
        position: absolute;
        top: 35%;
        left: 31%;
        height: 31%;
        width: 40%;
    }
    .bri-card-t h3 {
        text-align: center;
        font-size: 2.5vw !important;
    }
    .bri-card-t p, .bri-card-b p {
       
        font-size: 2vw;
    }

    .co-g {
        color: #C4C800;
        font-size: 2.5vw;
        font-weight: bold;
    }
    .co-grey {
        color: #404040;
        font-size: 1.8vw;
        line-height: 1.6;
    }
    .smg {
        font-size: 1.1vw;
        color: #404040;
    }
    .s1-card{
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 1vw;
        height: 40vw;
        width: 30vw;
        background-color: #000000;
    }
    
    .s1-card p{
        text-align: center;
        line-height: 1.7;
        font-size: 1.8vw;
        color: #979797;
        margin: 1.2vw;
        height: 28vw;
    }
    
    .s2-card{
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 1vw;
        height: 40vw;
        width: 30vw;
        background-color: #D9D9D9;
    }
    
    .s2-card p{
        text-align: center;
        line-height: 1.7;
        font-size: 1.8vw;
        color: #404040;
        margin: 1.2vw;
        height: 28vw;
    }












    .mission-cont-in {
        /* padding: 3vw 0vw 0 0; */
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 6vw;
    }
    .mission-card {
        height: 60vw;
        width: 60vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        background-color: #ECECEC;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 50%;
        -webkit-box-shadow: 10px 12px 16px #cbbaba;
                box-shadow: 10px 12px 16px #cbbaba;
    }
    .a1 {
        font-size: 25vw;
        color: #D9D9D9;
        position: absolute;
        top: -6%;
        left: -14px;
    }
    .mission-card-in{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: .5rem;
        padding-inline: 1rem;
    }
    .mission-card-in h2 {
        font-size: 5vw;
    }
    .mission-card-in p {
        font-size: 3vw;
    }

    .pillars-cont-in {
        padding: 0vw 3vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        row-gap: 6vw;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .pill{
        width: 45%;
    }
    .pill h3 {
        font-size: 3vw !important;
    }
    .pill p {
        color: #404040;
        font-size: 2.2vw;
        font-weight: bold;
    }
    .pb{
        padding-bottom: 5vw;
    }
    
}

.address-bar{
    display: none;
}


  @media screen and (max-width:600px) {
    /* problem and solution updated css */

    
.address-bar{
    padding: 2vw 0 17vw 0;
    border-bottom: 1px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #000;
    padding-inline: 5vw;
    

  }
  .address-bar div{
    margin-bottom: 2vw;
  }
  .address-bar ul{
    display: -ms-grid;
    display: grid;
    gap: 1.5vw;
    list-style: none;
  }
  .address-bar .fsfoot-h{
    color: #fff;
    font-size: 2.5vw;
  }
  .address-bar .sg{
    font-size: 1.2vw;
    color: #fff;
  }



.prob-cont {
    padding: 0 3vw 0vw 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.prob-cont-s1, .prob-cont-s2 {
    display: -ms-grid;
    display: grid;
    gap: 5vw;
}
.sep {
    height: unset;
    width: 0px;
    border-right: 1px solid;
    margin-top: 0;
    margin-bottom: 0;
}
.s1-card{
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 1vw;
    height: 50vw;
    width: 43vw;
    background-color: #000000;
}
.headi {
    font-weight: bold;
    font-size: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-radius: 50%;
    background-color: #D9D9D9;
    height: 10vw;
    width: 10vw;
}

.s1-card p{
    text-align: center;
    line-height: 1.7;
    font-size: 2.3vw;
    color: #979797;
    margin: 1.2vw;
    height: 30vw;
}

.s2-card{
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 1vw;
    height: 50vw;
    width: 43vw;
    background-color: #D9D9D9;
}
.s2-card .headi {
    font-weight: bold;
    font-size: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-radius: 50%;
    background-color: #000000;
    color: white;
    height: 10vw;
    width: 10vw;
}
.s2-card p{
    text-align: center;
    line-height: 1.7;
    font-size: 2.3vw;
    color: #404040;
    margin: 1.2vw;
    height: 30vw;
 }



 .mission-cont h1, .nc {
    margin-top: 1.5rem;
}

}
