/* .bcb{
    background-color: black;
} */
.contact-main{
    background-color: black;
}

.nav2{
    position: relative;
}

.sh{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 5rem;
    height: 5rem;
}
.nav2-left-inside{
    width: 75%;
}
.nav2-right{
    position: relative;
}
.imgr{
    width: 10vw;
    overflow: hidden;
    position: absolute;
    top: 8%;
    left: 5%;
}
.imgr img{
    width: 100%;
    height: 100%;
}
.fon-s-4{
    font-size: 4vw;
    line-height: 1.5;
}
.contact-container{
    padding: 6vw 3vw;
    display: flex;
    background-color: black;
    justify-content: center;
    gap: 1vw;
    align-items: center;
    color: white;
}

.contact-right{
    width: 50%;
    text-align: center;
    line-height: 2;
    display: flex;
    justify-content: end;
}
.contact-right div{
    width: 90%;
}
/* .contact-right p:first-child{
    color: grey;
} */
/* .contact-right p:first-child{
    color: #909090;
} */
/* .contact-right p:last-child{
    color: #C4C800;
} */
.contact-right h2{
    font-size: 2vw;
}
.contact-right p:nth-child(2) {
    color: #909090;
    font-size: 1.5vw;
}

.contact-right p:nth-child(3) {
    font-size: 1.3vw;
    color: #C4C800;
}


.contact-left{
    width: 50%;
}
.contact-left-in{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-left-in form{
    width: 100%;
    display: grid;
    gap: 1vw;
}
.contact-left-in input, textarea{
    font-size: 1vw;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 1.3vw 0.8vw;
    width: 100%;
}
.fila{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.fila div{
    width: 48.8%;
}
.ph-num{
    display: flex;
}
.iti{
    width: 100%;
    color: black;
}
.form-submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-submit input{
    width: 20vw;
    font-weight: bold;
    background-color: #C4C800;
    border: none;
    border-radius: 5px;
}
.form-submit input:hover{
    cursor: pointer;
    background: none;
    color: #C4C800;
    border: 1px solid #C4C800;
}
.ser-h{
    display: flex;
    overflow: hidden;
}
.ser-h textarea{
    height: 8vw;
    padding: 0.8vw;
}

/* Pay Us section */
.pay-container{
    padding: 0 3vw;
    color: white;
    text-align: center;
}
.pay-end{
    font-size: 1.5vw;
    padding: 3vw;
    text-align: center;
    color: #425FAB;
}
.pay-container-in{
    padding: 3vw 0 0 0;
    display: flex;
    justify-content: center;
    gap: 10vw;
}
.pay-card{
    display: grid;
    gap: 2vw;
    justify-content: center;
}
.pay-card h3{
    font-size: 1.5vw
}
.pay-card p:nth-child(2) {
    color: #909090;
    font-size: 1.3vw;
}
.pay-card div:nth-child(3) {
    display: flex;
    justify-content: center;
}
.pay-card button{
    font-size: 1.3vw;
    padding: 0.8vw;
    width: 13vw;
    border: 1px solid #C4C800;
    color: #C4C800;
    border-radius: 5px;
    background: transparent;
}
.pay-card button:hover{
    cursor: pointer;
    background: #C4C800;
    color: black;
}

@media only screen and (max-width: 600px){
    .pay-container-in {
        padding: 3vw 0 0 0;
        display: grid;
        justify-content: center;
        gap: 10vw;
    }
    .contact-right h2 {
        font-size: 1rem;
    }
    .pay-container h1{
        font-size: 1rem;
    }
    .pay-card h3 {
        font-size: 0.7rem !important;
    }
    .pay-card p:nth-child(2) {
        color: #909090;
        font-size: 0.6rem;
    }
    .pay-card button {
        font-size: 0.5rem;
        width: 13rem;
        border: 1px solid #C4C800;
        color: #C4C800;
        border-radius: 5px;
        background: transparent;
    }
    .contact-container {
        padding: 6vw;
        display: grid;
        background-color: black;
        justify-content: center;
        gap: 1vw;
        align-items: center;
        color: white;
    }
    .contact-left {
        background-color: #d9d9d9c2;
        width: 100%;
    }
    .contact-left-in {
        padding: 10vw 8vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-right {
        width: 100%;
        text-align: center;
        line-height: 2;
        display: flex;
        justify-content: center;
    }
    .contact-right p:nth-child(2) {
        color: #909090;
        font-size: 0.7rem;
    }
    .contact-right p:nth-child(3) {
        font-size: 0.5rem;
        color: #C4C800;
    }
    .contact-left-in input, textarea {
        font-size: 0.7rem;
        border-radius: 0.2rem;
        border: none;
        outline: none;
        padding: 3.3vw 0.8vw;
        width: 100%;
    }
    .form-submit input {
        width: 50%;
        font-weight: bold;
        padding: 2vw;
        background-color: #C4C800;
        border: none;
        border-radius: 2rem;
    }
    .pay-end {
        font-size: 1.5vw;
        padding: 3vw 0 20vw 0;
        text-align: center;
        color: #425FAB;
    }
}