@media only screen and (max-width: 1024px) {

    .text {
        width: 100%;
        color: white;
        position: absolute;
        bottom: 5.5%;
        background-color: #0d0c0c53;
        padding: 0.5vw;
    }

    /* .clients-bar {

        bottom: 40%;
    }

    .human-img {
        bottom: 8%;
    } */






}


@media only screen and (max-width: 768px) {
    .sma{
        display: none;
    }

    .contact-bar{
        display: none;
    }

    .imbm{
        margin-bottom: 3.5rem;
    }

    .text {
        width: 100%;
        color: white;
        position: absolute;
        bottom: 0%;
        background-color: #0d0c0c53;
        padding: 0.5vw;
    }

    .testimonial-buttons {
        padding-top: 4vw;
    }

    .leads {
        width: 97%;
        margin-bottom: 1.5rem;
        margin-top: 8vw;
        /* margin-inline: 1rem; */
    }

    .leads>p {
        font-size: 2.2vw;
    }

    .container {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .first-part,
    .last-part {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 30%;
    }

    .first-part {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }

    .first-part .tile,
    .last-part .tile {
        width: 75%;
    }

    .main-view {
        width: 40%;
    }

    .all-heading {
        font-size: 4vw;
    }

    .faq-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .faq-column {
        width: 100%;
    }

    .faq-question,
    .faq-answer {
        font-size: 3vw;
    }

    h3 {
        font-size: 3vw !important;
    }

    .sec-text:first-child span {
        font-size: 1.2vw;
    }

    .sec-text p {
        font-size: 2.2vw;
    }

    .page3 div:first-child,
    .page4 div:first-child {
        width: 50%;
    }

    .page3 div:last-child,
    .page4 div:last-child {
        width: 50%;
    }

    .testimonial {
        font-size: 2vw;
    }

    .testimonial-buttons button {
        font-size: 2.2vw;
    }

    .founder-container-right p {
        font-size: 2.2vw;
    }

    .founder-container{
        margin-bottom: 1.5rem;
    }
    .page2 {
        margin-top: -17vw;
    }



    .blog-cont .mar-section {
        /* flex-wrap: wrap; Allow the blog cards to wrap onto multiple lines */
        overflow-x: scroll;
        /* Enable horizontal scrolling for the slider */
        -ms-scroll-snap-type: x mandatory;
            scroll-snap-type: x mandatory;
        /* Enable scroll snapping for smooth scrolling */
    }

    .blog-card {
        width: 48%;
        /* Adjust the width to display two cards per row */
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        scroll-snap-align: start;
        /* Align the cards to the start of the scroll container */
    }

    .blog-cont .mar-desc div:nth-child(2) {
        font-size: 2vw;
    }

    .blog-cont .mar-desc {

        padding: 0 .4rem;
    }






    .founder-container-right button {
        width: 100%;
        font-size: 3vw;
        padding: .2rem 1.5rem;
    }

    .blog-cont .mar-img {

        width: 100%;
        height: 150px;
    }

    .blog-cont .mar-img img {
        width: 100%;
        height: 100%;
        display: block;
    }

    .text {
        padding: none !important;
    }

    .text h2 {
        font-size: 2.7vw;
    }

    .text p {
        color: #dcdcdc;
        font-size: 2vw;
    }

    .form-container input {
        width: 60%;
        padding: 3.2vw 2vw;
        font-size:3vw ;

    }
    .form-container button {
        width: 60%;
        padding: 2vw 2vw;
        width: 40%;
        /* width: 90px; */
        background-color: #C4C800;
        font-size: 3vw;

    }

    .form-container input::-webkit-input-placeholder {
       
        font-size: 3vw;

    }

    .form-container input::-moz-placeholder {
       
        font-size: 3vw;

    }

    .form-container input:-ms-input-placeholder {
       
        font-size: 3vw;

    }

    .form-container input::-ms-input-placeholder {
       
        font-size: 3vw;

    }

    .form-container input::placeholder {
       
        font-size: 3vw;

    }

   

    .main-view button {

        font-size: 2.5vw;



        padding: 0.5vw 1.5vw;


    }

    .logo-box2 .img img {
        width: 100%;
        height: 100%;
    }

    .logo-box2 {
        margin-top: 4vw;
    }
    .hamburger-menu {
       
        width: 100%;
        text-align: center;
        position: absolute;
  right: 0;
       
    }

    .hamburger-menu a{
        font-size: 3vw;
    }

    .service-menu ul li a{
        font-size: 3vw;
    }

    .who-cont{
        margin-top: 4rem;
    }

    .brilliant-cont {
        padding: 0 3vw 17vw 3vw;
    }

    .first-component{
        padding-top: 4rem;
    }

    .out-cont {
     
        padding-bottom: 4rem;
    }
    .nav2 {
        padding-top: 3rem;
       
    }

    .himv{
        display: none;
    }

    .wheel-text, .wheel-image{
        width: 50%;
    }
    .soson{
        font-size: 2.5vw;
    }

    
}

/* @media (max-width: 767px) {
    .middle-vedio video::-webkit-media-controls {
        width: fit-content; }
} */



@media only screen and (max-width: 600px) {
    .fftfb{
        display: none;
    }
    
    .nmtb{
        margin-block: 1.1rem;
    }

    .oim{
        margin-top: 2rem;
    }

    /* Footer */
    footer {
        display: none;
    }

    /* Mob Call Container */
    .mob-call-container {
        /* height: 3vw; */
        padding: 5vw 0vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        background: #c4C800;
        border-top-left-radius: 2vw;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-top-right-radius: 2vw;
        position: fixed;
        bottom: 0;
    }

    .mob-ele {
        width: 25vw;
        text-align: center;
        position: relative;
    }

    .up {
        aspect-ratio: 62/60;
        height: auto;
        width: auto;
        position: absolute;
        bottom: 70%;
        left: 30%;
    }

    .up img {
        width: 10vw;
        height: 100%;
    }

    .down {
        font-size: 3vw;
        width: 25vw;
        text-align: center;
        position: absolute;
        top: 0px;
        font-weight: bold;
    }

    /* Call Container */
    .call-container {
        display: none;
    }

    .blog-cont {
        padding-bottom: 5rem !important;
    }
/* 
    header .get-quote-menu {
        display: none;
        position: absolute;
      
        left: 10%;
        width: 80%;
        padding: 3vw;
        background-color: #d9d9d9c2;
      }
      header .get-quote-menu .contact-left-in input, textarea {
        border-radius: 5px;
        font-size: 0.6rem;
        border: none;
        outline: none;
        padding: 0 8px;
        height: 6vw;
      }
    header .contact-left-in{
      padding: 0vw 0vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    header .contact-left {
      background-color: transparent;
      width: 100%;
    }
    header .get-quote-menu .ser-h textarea {
      height: 15vw;
      padding: 1vw;
      font-size: 0.6rem;
    }
    header .get-quote-menu .iti {
      overflow: hidden;
      width: 100%;
      color: black;
    } */

    .mobile-header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
      }
      .mobile-header .hamburger{
        width: 1.2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }
      .mobile-header .hamburger img{
        width: 100%;
        height: auto;
      }
      nav {
        
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: white;
        /* height: 6vw; */
        padding: 6vw 4vw;
      }
      .nav-cont{
        display: none;
      }
      .logo img {
        margin-right: 5px;
        width: 25vw;
      }
    
      .mobile-header-popup {
        background: #d9d9d9f0;
        width: 80%;
        position: absolute;
        top: 100%;
        right: 10%;
      }
      .mobile-header-popup-in {
        /* display: none; */
        position: relative;
        padding: 3vw;
        width: 100%;
        height: 100%;
        font-size: 0.8rem;
        color: black;
        font-weight: bold;
      }
      .mobile-service {
        position: absolute;
        top: 6%;
        right: 10%;
    }
    #service-back img {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
    }
      .mobile-header-popup-in p{
        padding: 0.8rem 0px;
        border-bottom: 1px solid;
      }
      .mobile-header-popup-in a{
        color: black;
      }

      .fap{
        padding-bottom: 14vw !important;
    }
      .fadp{
        padding-bottom: 18vw !important;
    }

    
}











@media screen and (max-width : 430px) {
    /* .page1 {
        height: 38vmax;
    } */

    /* .clients-bar {
        bottom: 43%;
    }

    .human-img {
        bottom: 9%;
    } */
    .clients-bar {
        bottom: 15%;
    }
}



@media screen and (max-width : 412px) {
    .clients-bar {
        bottom: 16%;
    }
}

@media screen and (max-width : 375px) {
    /* .page1 {
        height: 38vmax;
    } */

    .clients-bar {
        bottom: 18%;
        -webkit-transform: matrix(1, -0.1, 0, 1, 0, 9);
            -ms-transform: matrix(1, -0.1, 0, 1, 0, 9);
                transform: matrix(1, -0.1, 0, 1, 0, 9);
    }

    .human-img {
        bottom: 6%;
    }

    .page2 {
        margin-top: -6vw;
    }
}

@media screen and (max-width : 360px) {
    /* .page2 {
        margin-top: -13vw;
    } */
    /* .page1 {
        height: 38vmax;
    } */

    .clients-bar {
        bottom: 20%;
    }

    /* .human-img {
        bottom: 8%;
    } */
}

@media screen and (max-width : 344px) {
    .clients-bar {
        bottom: 20%;
    }

    /* .human-img {
        bottom: 10%;
    }

    .page2 {
        margin-top: -35vw;
    } */
}
